Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied, @cwperks

.github/CODEOWNERS:

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @opensearch-project/opensearch-core-maintainers

/modules/lang-painless/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @opensearch-project/opensearch-core-maintainers @peternied

/plugins/identity-shiro/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks

/server/src/internalClusterTest/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @opensearch-project/opensearch-core-maintainers @peternied
/server/src/main/java/org/opensearch/identity/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks 
/server/src/main/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @opensearch-project/opensearch-core-maintainers @peternied

/server/src/test/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied

/MAINTAINERS.md @opensearch-project/opensearch-core-maintainers

Add Semantic Version field type mapper and extensive unit tests
  CHANGELOG.md
  server/src/main/java/org/opensearch/index/mapper/SemanticVersion.java
  server/src/main/java/org/opensearch/index/mapper/SemanticVersionFieldMapper.java
  server/src/main/java/org/opensearch/indices/IndicesModule.java
  server/src/test/java/org/opensearch/index/mapper/SemanticVersionFieldMapperTests.java
  server/src/test/java/org/opensearch/index/mapper/SemanticVersionTests.java
  server/src/test/java/org/opensearch/index/query/SemanticVersionFieldQueryTests.java
  test/framework/src/main/java/org/opensearch/search/aggregations/AggregatorTestCase.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added approximation support for range queries with now in date field
  server/src/main/java/org/opensearch/index/mapper/DateFieldMapper.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Updated tests to fit new query hierarchy
  CHANGELOG.md
  server/src/main/java/org/opensearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/opensearch/index/query/RangeQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Project Code Coverage
  CHANGELOG.md
  TESTING.md
  gradle/code-coverage.gradle
Owners: @opensearch-project/opensearch-core-maintainers

Created an API to fetch remote store segment data
  server/src/internalClusterTest/java/org/opensearch/remotestore/RemoteStoreMetadataIT.java
  server/src/main/java/org/opensearch/action/ActionModule.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadata.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataAction.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataRequest.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataResponse.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/TransportRemoteStoreMetadataAction.java
  server/src/main/java/org/opensearch/action/admin/cluster/remotestore/metadata/package-info.java
  server/src/main/java/org/opensearch/index/store/RemoteSegmentStoreDirectory.java
  server/src/main/java/org/opensearch/index/translog/transfer/TranslogTransferManager.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestRemoteStoreMetadataAction.java
  server/src/main/java/org/opensearch/transport/client/ClusterAdminClient.java
  server/src/main/java/org/opensearch/transport/client/support/AbstractClient.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataRequestBuilderTests.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataRequestTests.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataResponseTests.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataTestHelper.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/RemoteStoreMetadataTests.java
  server/src/test/java/org/opensearch/action/admin/cluster/remotestore/metadata/TransportRemoteStoreMetadataActionTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied

Update gradle logic
  gradle/code-coverage.gradle
Owners: @opensearch-project/opensearch-core-maintainers

Commented test for the successful run
  server/src/main/java/org/opensearch/index/shard/RemoteUploaderService.java
  server/src/test/java/org/opensearch/index/shard/RemoteStoreRefreshListenerTests.java
  server/src/test/java/org/opensearch/index/shard/ReplicaRecoveryWithRemoteTranslogOnPrimaryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Spotless check
  server/src/test/java/org/opensearch/index/shard/RemoteStoreRefreshListenerTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Initialize FileCache for warm index on node boot-up/restart
  server/src/internalClusterTest/java/org/opensearch/indices/replication/WarmIndexSegmentReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/remotestore/WritableWarmIT.java
  server/src/main/java/org/opensearch/common/cache/RemovalReason.java
  server/src/main/java/org/opensearch/env/NodeEnvironment.java
  server/src/main/java/org/opensearch/env/NodeRepurposeCommand.java
  server/src/main/java/org/opensearch/index/store/CompositeDirectory.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/AggregateFileCacheStats.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/CachedFullFileIndexInput.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/FileCache.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/FileCacheCleaner.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/FileCacheFactory.java
  server/src/main/java/org/opensearch/index/store/remote/utils/FileTypeUtils.java
  server/src/main/java/org/opensearch/index/store/remote/utils/cache/LRUCache.java
  server/src/main/java/org/opensearch/index/store/remote/utils/cache/SegmentedCache.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/test/java/org/opensearch/index/store/CompositeDirectoryTests.java
  server/src/test/java/org/opensearch/index/store/remote/filecache/FileCacheCleanerTests.java
  server/src/test/java/org/opensearch/index/store/remote/filecache/FileCacheTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Ability to run Code Coverage locally with Gradle (#18509)
  CHANGELOG.md
  TESTING.md
  gradle/code-coverage.gradle
Owners: @opensearch-project/opensearch-core-maintainers

create init smoke test to run in FIPS JVM
  gradle/missing-javadoc.gradle
  qa/fips-compliance/build.gradle
  qa/fips-compliance/src/javaRestTest/java/org/opensearch/qa/smoketest/FipsSmokeRandomnessIT.java
  qa/fips-compliance/src/javaRestTest/resources/rest-api-spec/api/randomness.get_provider_name.json
  qa/fips-compliance/src/main/java/org/opensearch/FipsSmokeTestPlugin.java
  qa/fips-compliance/src/main/java/org/opensearch/RandomnessProviderNameAction.java
Owners: @opensearch-project/opensearch-core-maintainers

[GRPC] Make transport-grpc extensible for other plugins
  CHANGELOG.md
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/GrpcPlugin.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/AbstractQueryBuilderProtoUtils.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchAllQueryBuilderProtoConverter.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchNoneQueryBuilderProtoConverter.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/QueryBuilderProtoConverter.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/QueryBuilderProtoConverterRegistry.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermQueryBuilderProtoConverter.java
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermsQueryBuilderProtoConverter.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/SearchSourceBuilderProtoUtilsTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/AbstractQueryBuilderProtoUtilsTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/EmptyQueryBuilderProtoConverterRegistry.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchAllQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchNoneQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/QueryBuilderProtoConverterRegistryTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/QueryBuilderProtoTestUtils.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermsQueryBuilderProtoConverterTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Revert "Switch percentiles implementation to MergingDigest (#18124)" (#18497)
  gradle/libs.versions.toml
  server/src/main/java/org/opensearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/opensearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/InternalTDigestPercentilesRanksTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/InternalTDigestPercentilesTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/TDigestPercentilesAggregatorTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

more UTs for code cov
  plugins/transport-grpc/src/main/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/AbstractQueryBuilderProtoUtils.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/GrpcPluginTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/AbstractQueryBuilderProtoUtilsTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchAllQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/MatchNoneQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/QueryBuilderProtoConverterRegistryTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermQueryBuilderProtoConverterTests.java
  plugins/transport-grpc/src/test/java/org/opensearch/plugin/transport/grpc/proto/request/search/query/TermsQueryBuilderProtoConverterTests.java
Owners: @opensearch-project/opensearch-core-maintainers

feat(server-common): Add JsonToJson Recommender as a utility function
  server/build.gradle
  server/licenses/jackson-annotations-2.18.2.jar.sha1
  server/licenses/jackson-databind-2.18.2.jar.sha1
  server/src/main/java/org/opensearch/common/util/JsonToJsonRecommender.java
  server/src/test/java/org/opensearch/common/util/JsonToJsonRecommenderTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Update Maven Snapshots publish endpoint
  .github/workflows/publish-maven-snapshots.yml
  build.gradle
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied

feat(server-common): Remove unused licenses
  distribution/tools/upgrade-cli/licenses/jackson-LICENSE
  distribution/tools/upgrade-cli/licenses/jackson-NOTICE
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.18.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-LICENSE
  modules/ingest-geoip/licenses/jackson-annotations-NOTICE
  modules/ingest-geoip/licenses/jackson-databind-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-LICENSE
  modules/ingest-geoip/licenses/jackson-databind-NOTICE
  plugins/arrow-flight-rpc/licenses/jackson-LICENSE
  plugins/arrow-flight-rpc/licenses/jackson-NOTICE
  plugins/arrow-flight-rpc/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/arrow-flight-rpc/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/crypto-kms/licenses/jackson-LICENSE
  plugins/crypto-kms/licenses/jackson-NOTICE
  plugins/crypto-kms/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/crypto-kms/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-LICENSE
  plugins/discovery-ec2/licenses/jackson-NOTICE
  plugins/discovery-ec2/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/ingestion-kinesis/licenses/jackson-LICENSE
  plugins/ingestion-kinesis/licenses/jackson-NOTICE
  plugins/ingestion-kinesis/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/ingestion-kinesis/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-LICENSE
  plugins/repository-s3/licenses/jackson-NOTICE
  plugins/repository-s3/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.18.2.jar.sha1
Owners: @opensearch-project/opensearch-core-maintainers

refactored approximation logic for DateRangeIncludingNowQuery
  server/src/main/java/org/opensearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/opensearch/index/query/RangeQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

added validation test for DateRangeIncludingNowQuery approximation
  server/src/test/java/org/opensearch/search/approximate/ApproximatePointRangeQueryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add snapshot restore and index relocation IT
  plugins/ingestion-kafka/src/internalClusterTest/java/org/opensearch/plugin/kafka/RemoteStoreKafkaIT.java
Owners: @opensearch-project/opensearch-core-maintainers

Remove @ExperimentalApi annotations from star-tree related code
  server/src/main/java/org/opensearch/search/startree/StarTreeNodeCollector.java
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryContext.java
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryHelper.java
  server/src/main/java/org/opensearch/search/startree/StarTreeTraversalUtil.java
  server/src/main/java/org/opensearch/search/startree/filter/DimensionFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/ExactMatchDimFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/MatchAllFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/MatchNoneFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/RangeMatchDimFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/StarTreeFilter.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/DimensionFilterMapper.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarTreeFilterProvider.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Modify pagination logic & Add limited Listblob retrieval capabilities
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/opensearch/common/blobstore/EncryptedBlobContainer.java
Owners: @opensearch-project/opensearch-core-maintainers

Extend Interface to allow for Limited Listing capabilities
  server/src/main/java/org/opensearch/common/blobstore/BlobContainer.java
Owners: @opensearch-project/opensearch-core-maintainers

Added UTs for Edge cases : Versioning APIs
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobContainerRetriesTests.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
  server/src/test/java/org/opensearch/repositories/blobstore/BlobStoreRepositoryTests.java
  test/framework/src/main/java/org/opensearch/repositories/blobstore/AbstractBlobContainerRetriesTestCase.java
Owners: @opensearch-project/opensearch-core-maintainers

Remove Redundant interfaces : GCP's not yet supported for this
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobContainerRetriesTests.java
  test/framework/src/main/java/org/opensearch/repositories/blobstore/AbstractBlobContainerRetriesTestCase.java
Owners: @opensearch-project/opensearch-core-maintainers

1. Multi-Writer Logic 2. Etag Cache Implementation
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Conditional Write Support : UploadMetadata
  server/src/main/java/org/opensearch/index/shard/RemoteStoreRefreshListener.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Conditional Write Support Class : To be removed pre-merge
  server/src/main/java/org/opensearch/common/blobstore/ConditionalWrite.java
Owners: @opensearch-project/opensearch-core-maintainers

IndexShard : Etag Caching System
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Multiwriter prevention Prevention Logic : RemoteStoreRefreshListener.UploadMetaData
  server/src/main/java/org/opensearch/index/shard/RemoteStoreRefreshListener.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Multiwriter Prevention Logic : RemoteSegmentStoreDirectory.UploadMetaData
  server/src/main/java/org/opensearch/index/store/RemoteSegmentStoreDirectory.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Multiwriter Prevention Testing : RemoteSegmentStoreDirectory.UploadMetaData
  server/src/test/java/org/opensearch/index/store/RemoteSegmentStoreDirectoryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Multiwriter Prevention Logic : RemoteDirectory.CopyFrom
  server/src/main/java/org/opensearch/index/store/RemoteDirectory.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Include nodeId , uploadCounter & translogGeneration in Segment Metadata Content
  server/src/main/java/org/opensearch/index/store/remote/metadata/RemoteSegmentMetadata.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add snapshot restore and index relocation IT (#18520)
  plugins/ingestion-kafka/src/internalClusterTest/java/org/opensearch/plugin/kafka/RemoteStoreKafkaIT.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix
  plugins/workload-management/src/test/java/org/opensearch/plugin/wlm/AutoTaggingActionFilterTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Updated the testcases
  server/src/test/java/org/opensearch/index/shard/RemoteStoreRefreshListenerTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Resolving comments
  server/src/main/java/org/opensearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/NodeDiskEvaluator.java
Owners: @opensearch-project/opensearch-core-maintainers

Activate Detect Breaking Changes Github Action since we have 3.0.0 baseline
  .github/workflows/detect-breaking-change.yml
  server/build.gradle
  server/src/main/java/org/opensearch/cluster/service/PendingClusterTask.java
  server/src/main/java/org/opensearch/index/IndexModule.java
  server/src/main/java/org/opensearch/index/IndexService.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/store/remote/filecache/FileCacheStats.java
  server/src/main/java/org/opensearch/indices/IndicesService.java
  server/src/main/java/org/opensearch/search/internal/SearchContext.java
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

ADD IMPORT FOR CONDITIONAL Options
  server/src/main/java/org/opensearch/index/shard/RemoteStoreRefreshListener.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah
