Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied, @cwperks

.github/CODEOWNERS:

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @opensearch-project/opensearch-core-maintainers

/modules/lang-painless/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @opensearch-project/opensearch-core-maintainers @peternied

/plugins/identity-shiro/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks

/server/src/internalClusterTest/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @opensearch-project/opensearch-core-maintainers @peternied
/server/src/main/java/org/opensearch/identity/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks 
/server/src/main/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @opensearch-project/opensearch-core-maintainers @peternied

/server/src/test/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied

/MAINTAINERS.md @opensearch-project/opensearch-core-maintainers

Address code review comments
  libs/agent-sm/agent/src/test/java/org/opensearch/javaagent/StackCallerProtectionDomainExtractorTests.java
  libs/agent-sm/bootstrap/src/main/java/org/opensearch/javaagent/bootstrap/AccessController.java
Owners: @opensearch-project/opensearch-core-maintainers

Support Nested Aggregations as part of Star-Tree (#18048)
  CHANGELOG.md
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/builder/BaseStarTreeBuilder.java
  server/src/main/java/org/opensearch/search/aggregations/StarTreePreComputeCollector.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/DateHistogramAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryContext.java
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryHelper.java
  server/src/main/java/org/opensearch/search/startree/StarTreeTraversalUtil.java
  server/src/main/java/org/opensearch/search/startree/filter/MatchAllFilter.java
  server/src/test/java/org/opensearch/search/SearchServiceStarTreeTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/KeywordTermsAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeNestedAggregatorTests.java
  test/framework/src/main/java/org/opensearch/search/aggregations/AggregatorTestCase.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[Bug] Star tree indexing - kahan summation fix (#18462)
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/aggregators/SumValueAggregator.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/builder/AbstractDocumentsFileManager.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/builder/BaseStarTreeBuilder.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/utils/CompensatedSumType.java
  server/src/main/java/org/opensearch/search/aggregations/metrics/CompensatedSum.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/StarTreeTestUtils.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/aggregators/AbstractValueAggregatorTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/aggregators/StaticValueAggregatorTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/aggregators/SumValueAggregatorTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/BaseStarTreeBuilderTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuildMetricTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderFlushFlowTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderMergeFlowTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderSortAndAggregateTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderTestCase.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

resolving conflicts
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryContext.java
  server/src/test/java/org/opensearch/search/SearchServiceStarTreeTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeNestedAggregatorTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Support system ingest pipelines for bulk update operations
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/opensearch/action/update/UpdateRequest.java
  server/src/main/java/org/opensearch/ingest/CompoundProcessor.java
  server/src/main/java/org/opensearch/ingest/IndexRequestWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestDocumentWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
  server/src/main/java/org/opensearch/ingest/Processor.java
  server/src/test/java/org/opensearch/action/bulk/BulkRequestModifierTests.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/opensearch/action/update/UpdateRequestTests.java
  server/src/test/java/org/opensearch/ingest/IngestDocumentPreparer.java
  server/src/test/java/org/opensearch/ingest/IngestDocumentWrapperTests.java
  server/src/test/java/org/opensearch/ingest/IngestServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix integ tests after rebase
  plugins/examples/system-ingest-processor/src/test/java/org/opensearch/example/systemingestprocessor/ExampleSystemIngestProcessorTests.java
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
Owners: @opensearch-project/opensearch-core-maintainers

Rename innerSlot to childSlot
  server/src/main/java/org/opensearch/ingest/CompoundProcessor.java
  server/src/main/java/org/opensearch/ingest/IndexRequestWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestDocumentWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
  server/src/main/java/org/opensearch/ingest/Processor.java
  server/src/test/java/org/opensearch/ingest/IngestDocumentPreparer.java
  server/src/test/java/org/opensearch/ingest/IngestServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Update yaml tests
  plugins/examples/system-ingest-processor/src/yamlRestTest/resources/rest-api-spec/test/example-system-ingest-processor/20_system_ingest_processor.yml
  server/src/test/java/org/opensearch/ingest/IngestDocumentWrapperTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Spotless
  CHANGELOG.md
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/opensearch/action/update/UpdateRequest.java
  server/src/main/java/org/opensearch/ingest/CompoundProcessor.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/opensearch/ingest/IngestServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Refactor UpdateRequest type checking
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/opensearch/action/update/UpdateRequest.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
  server/src/main/java/org/opensearch/ingest/SystemIngestPipelineCache.java
  server/src/test/java/org/opensearch/action/update/UpdateRequestTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Update comments
  server/src/main/java/org/opensearch/ingest/AbstractBatchingSystemProcessor.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
Owners: @opensearch-project/opensearch-core-maintainers

Bugfix enable FlightStreamPlugin.
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightStreamPlugin.java
Owners: @opensearch-project/opensearch-core-maintainers

Update tests - Arrow flight transport now enabled through aux transport type.
  plugins/arrow-flight-rpc/src/internalClusterTest/java/org/opensearch/arrow/flight/ArrowFlightServerIT.java
  plugins/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/FlightStreamPluginTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Add readme with enable commands.
  plugins/arrow-flight-rpc/README.md
Owners: @opensearch-project/opensearch-core-maintainers

Approximation Framework Enhancement: Update the BKD traversal logic to improve the performance on skewed data (#18439)
  CHANGELOG.md
  server/src/main/java/org/opensearch/search/approximate/ApproximatePointRangeQuery.java
  server/src/test/java/org/opensearch/search/approximate/ApproximatePointRangeQueryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[Experimental] Add a feature flag to start without joining a cluster
  server/src/main/java/org/opensearch/action/ActionModule.java
  server/src/main/java/org/opensearch/cluster/service/ClusterService.java
  server/src/main/java/org/opensearch/common/settings/FeatureFlagSettings.java
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
  server/src/main/java/org/opensearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/main/java/org/opensearch/node/NodeService.java
  server/src/test/java/org/opensearch/common/util/FeatureFlagTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Add changelog entry
  CHANGELOG.md
Owners: @opensearch-project/opensearch-core-maintainers

Fix IndicesClusterStateServiceRandomUpdatesTests
  server/src/main/java/org/opensearch/indices/cluster/IndicesClusterStateService.java
Owners: @opensearch-project/opensearch-core-maintainers

Add back mistakenly removed imports
  server/src/main/java/org/opensearch/node/Node.java
Owners: @opensearch-project/opensearch-core-maintainers

Replace a couple of flag checks with field null-checks
  server/src/main/java/org/opensearch/node/NodeService.java
Owners: @opensearch-project/opensearch-core-maintainers

Extend ClusterService and ShardStateAction
  server/src/main/java/org/opensearch/cluster/ClusterModule.java
  server/src/main/java/org/opensearch/cluster/action/shard/LocalShardStateAction.java
  server/src/main/java/org/opensearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/opensearch/cluster/service/ClusterService.java
  server/src/main/java/org/opensearch/cluster/service/LocalClusterService.java
  server/src/main/java/org/opensearch/indices/cluster/IndicesClusterStateService.java
  server/src/main/java/org/opensearch/node/Node.java
Owners: @opensearch-project/opensearch-core-maintainers

Add Javadoc
  server/src/main/java/org/opensearch/cluster/action/shard/LocalShardStateAction.java
  server/src/main/java/org/opensearch/cluster/service/ClusterService.java
  server/src/main/java/org/opensearch/cluster/service/LocalClusterService.java
Owners: @opensearch-project/opensearch-core-maintainers

Cannot bind a class to itself
  server/src/main/java/org/opensearch/cluster/ClusterModule.java
Owners: @opensearch-project/opensearch-core-maintainers

[Star tree] Remove star tree feature flag and add index setting to configure star tree search on index basis (#18070)
  CHANGELOG.md
  distribution/src/config/opensearch.yml
  modules/mapper-extras/src/test/java/org/opensearch/index/mapper/ScaledFloatFieldMapperTests.java
  server/src/internalClusterTest/java/org/opensearch/index/mapper/StarTreeMapperIT.java
  server/src/main/java/org/opensearch/common/settings/FeatureFlagSettings.java
  server/src/main/java/org/opensearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
  server/src/main/java/org/opensearch/index/IndexSettings.java
  server/src/main/java/org/opensearch/index/compositeindex/CompositeIndexSettings.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/StarTreeIndexSettings.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/startree/StarTreeValidator.java
  server/src/main/java/org/opensearch/index/mapper/ObjectMapper.java
  server/src/main/java/org/opensearch/search/DefaultSearchContext.java
  server/src/main/java/org/opensearch/search/SearchService.java
  server/src/main/java/org/opensearch/search/internal/FilteredSearchContext.java
  server/src/main/java/org/opensearch/search/internal/SearchContext.java
  server/src/main/java/org/opensearch/search/startree/StarTreeQueryContext.java
  server/src/test/java/org/opensearch/index/codec/composite912/datacube/startree/AbstractStarTreeDVFormatTests.java
  server/src/test/java/org/opensearch/index/mapper/ObjectMapperTests.java
  server/src/test/java/org/opensearch/index/mapper/StarTreeMapperTests.java
  server/src/test/java/org/opensearch/search/SearchServiceStarTreeTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/DateHistogramAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/DateRangeQueryTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/KeywordTermsAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/MetricAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/NumericTermsAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/RangeAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeFilterTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeNestedAggregatorTests.java
  test/framework/src/main/java/org/opensearch/test/TestSearchContext.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Allow searching 1K+ IP/masks in DV-only fields via terms_query (#18357)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/search/fields/SearchIpFieldTermsIT.java
  server/src/main/java/org/opensearch/index/mapper/IpFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/IpFieldTypeTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Delegate to public AbstractLifecycleComponent methods
  server/src/main/java/org/opensearch/cluster/service/LocalClusterService.java
Owners: @opensearch-project/opensearch-core-maintainers

fixed getTopBreakdown ready for PR
  server/src/main/java/org/opensearch/search/profile/query/AbstractQueryTimingProfileBreakdown.java
  server/src/main/java/org/opensearch/search/profile/query/ConcurrentQueryProfileTree.java
  server/src/main/java/org/opensearch/search/profile/query/ConcurrentQueryTimingProfileBreakdown.java
  server/src/main/java/org/opensearch/search/profile/query/InternalQueryProfileTree.java
  server/src/main/java/org/opensearch/search/profile/query/QueryProfiler.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix issues at flight transport layer; Add middleware for header management
  plugins/arrow-flight-rpc/src/internalClusterTest/java/org/opensearch/arrow/flight/FlightTransportIT.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/stream/ArrowStreamInput.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/stream/ArrowStreamOutput.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/ArrowFlightProducer.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/ClientHeaderMiddleware.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightClientChannel.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightOutboundHandler.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightServerChannel.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightTransport.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightTransportChannel.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/FlightTransportResponse.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/HeaderContext.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/transport/ServerHeaderMiddleware.java
  plugins/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/stream/ArrowStreamSerializationTests.java
  server/src/main/java/org/opensearch/action/search/StreamSearchTransportService.java
  server/src/main/java/org/opensearch/action/support/StreamChannelActionListener.java
  server/src/main/java/org/opensearch/transport/ConnectionProfile.java
  server/src/main/java/org/opensearch/transport/TaskTransportChannel.java
  server/src/main/java/org/opensearch/transport/stream/StreamTransportResponse.java
Owners: @opensearch-project/opensearch-core-maintainers, @peternied

Remove @PublicApi annotation from RangeQueryBuilder
  server/src/main/java/org/opensearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/DimensionFilterMapper.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarDateFieldMapper.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarTreeFilterProvider.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarTreeRangeQuery.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Remove @PublicApi annotation from RangeQueryBuilder (#18487)
  server/src/main/java/org/opensearch/index/query/RangeQueryBuilder.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/DimensionFilterMapper.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarDateFieldMapper.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarTreeFilterProvider.java
  server/src/main/java/org/opensearch/search/startree/filter/provider/StarTreeRangeQuery.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

bug fix for update rule api Signed-off-by: Ruirui Zhang <mariazrr@amazon.com>
  CHANGELOG.md
  modules/autotagging-commons/common/src/main/java/org/opensearch/rule/RuleUtils.java
  modules/autotagging-commons/common/src/test/java/org/opensearch/rule/RuleUtilsTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Bugfix arrow-flight-rpc plugin dependency injection collision (#18483)
  plugins/arrow-flight-rpc/README.md
  plugins/arrow-flight-rpc/src/internalClusterTest/java/org/opensearch/arrow/flight/ArrowFlightServerIT.java
  plugins/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightStreamPlugin.java
  plugins/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/FlightStreamPluginTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Add allowed warning header for yaml tests
  plugins/examples/system-ingest-processor/src/yamlRestTest/resources/rest-api-spec/test/example-system-ingest-processor/20_system_ingest_processor.yml
Owners: @opensearch-project/opensearch-core-maintainers

Add node-left metric (#18421)
  CHANGELOG.md
  server/src/main/java/org/opensearch/cluster/ClusterManagerMetrics.java
  server/src/main/java/org/opensearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/opensearch/cluster/coordination/FollowersChecker.java
  server/src/test/java/org/opensearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/opensearch/cluster/coordination/FollowersCheckerTests.java
  server/src/test/java/org/opensearch/cluster/coordination/LeaderCheckerTests.java
  test/framework/build.gradle
  test/framework/src/main/java/org/opensearch/cluster/coordination/AbstractCoordinatorTestCase.java
  test/telemetry/src/main/java/org/opensearch/test/telemetry/TestInMemoryCounter.java
  test/telemetry/src/main/java/org/opensearch/test/telemetry/TestInMemoryHistogram.java
  test/telemetry/src/main/java/org/opensearch/test/telemetry/TestInMemoryMetricsRegistry.java
  test/telemetry/src/main/java/org/opensearch/test/telemetry/package-info.java
Owners: @opensearch-project/opensearch-core-maintainers

Add FS Health Check Failure Metric
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix: Moves FSHealthFailure metric to FsHealth class
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix: make method and variable private
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix: applying spotless changes
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix: removes increment counter method
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
Owners: @opensearch-project/opensearch-core-maintainers

Fix: UTs of follower and leader checker
  CHANGELOG.md
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers
