Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

interim changes - integration with Auxiliary Transport
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchNode.java
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/RunTask.java
  modules/arrow-flight-rpc/src/internalClusterTest/java/org/opensearch/arrow/flight/ArrowFlightServerIT.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/BaseFlightStreamPlugin.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/FlightStreamPlugin.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/FlightServerInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodeFlightInfo.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoRequest.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoResponse.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/TransportNodesFlightInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightClientManager.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightServerTransport.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightService.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightStreamPluginImpl.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/ServerConfig.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/FlightClientManagerTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/FlightServiceTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/ServerConfigTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Use async client for delete blob or path in S3 Blob Container (#16788)
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3RepositoryThirdPartyTests.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3AsyncService.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3BlobContainer.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3RepositoryPlugin.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3RepositoryPluginTests.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix Shallow copy snapshot failures on closed index (#16868)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/remotestore/RemoteStoreIT.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/repositories/Repository.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/opensearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/opensearch/index/shard/RemoteIndexShardTests.java
  server/src/test/java/org/opensearch/index/shard/SegmentReplicationIndexShardTests.java
  server/src/test/java/org/opensearch/repositories/RepositoriesServiceTests.java
  test/framework/src/main/java/org/opensearch/index/replication/OpenSearchIndexLevelReplicationTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add Response Status Number in http trace logs. (#16978)
  server/src/main/java/org/opensearch/http/HttpTracer.java
  server/src/test/java/org/opensearch/http/AbstractHttpServerTransportTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add support for show_only_intersecting
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/70_adjacency_matrix.yml
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregatorFactory.java
  server/src/test/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilderTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/AdjacencyMatrixTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix bug with remote restore and add more tests
  server/src/main/java/org/opensearch/cluster/routing/IndexRoutingTable.java
  server/src/test/java/org/opensearch/gateway/ClusterStateUpdatersTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

support termQueryCaseInsensitive/termQuery can search from doc_value in flat_object/keyword field (#16974)
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/92_flat_object_support_doc_values.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/340_doc_values_field.yml
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/main/java/org/opensearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldTypeTests.java
  server/src/test/java/org/opensearch/index/mapper/KeywordFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Clean up test case
  server/src/test/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

use the correct type to widen the sort fields when merging top docs (#16881)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/search/sort/FieldSortIT.java
  server/src/main/java/org/opensearch/action/search/SearchPhaseController.java
  server/src/main/java/org/opensearch/search/sort/SortedWiderNumericSortField.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

support termQueryCaseInsensitive/termQuery can search from doc_value in flat_object/keyword field
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/92_flat_object_support_doc_values.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/340_doc_values_field.yml
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/main/java/org/opensearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldTypeTests.java
  server/src/test/java/org/opensearch/index/mapper/KeywordFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix: Fixing flaky test in ClusterManagerDisruptionIT
  server/src/internalClusterTest/java/org/opensearch/discovery/ClusterManagerDisruptionIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix multi-value sort for unsigned long (#16732)
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_double.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_long.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_unsigned_long.yml
  server/src/main/java/org/opensearch/index/fielddata/LongToSortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/SortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongValuesComparatorSource.java
  server/src/main/java/org/opensearch/search/MultiValueMode.java
  server/src/test/java/org/opensearch/search/MultiValueModeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

`phone-search` analyzer: don't emit int'l prefix
  CHANGELOG.md
  plugins/analysis-phonenumber/src/main/java/org/opensearch/analysis/phone/PhoneNumberTermTokenizer.java
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
  plugins/analysis-phonenumber/src/yamlRestTest/resources/rest-api-spec/test/analysis-phone/20_search.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

`phone-search` analyzer: don't emit extension & unformatted input
  CHANGELOG.md
  plugins/analysis-phonenumber/src/main/java/org/opensearch/analysis/phone/PhoneNumberTermTokenizer.java
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
  plugins/analysis-phonenumber/src/yamlRestTest/resources/rest-api-spec/test/analysis-phone/20_search.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

`phone-search` analyzer: don't emit sip/tel prefix
  CHANGELOG.md
  plugins/analysis-phonenumber/src/main/java/org/opensearch/analysis/phone/PhoneNumberTermTokenizer.java
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
  plugins/analysis-phonenumber/src/yamlRestTest/resources/rest-api-spec/test/analysis-phone/20_search.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

`phone-search` analyzer: don't emit sip/tel prefix, int'l prefix, extension & unformatted input (#16993)
  CHANGELOG.md
  plugins/analysis-phonenumber/src/main/java/org/opensearch/analysis/phone/PhoneNumberTermTokenizer.java
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
  plugins/analysis-phonenumber/src/yamlRestTest/resources/rest-api-spec/test/analysis-phone/20_search.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Limit RW separation to remote store enabled clusters and update recovery flow (#16760)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/cluster/allocation/SearchReplicaFilteringAllocationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationAndRecoveryIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaRestoreIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/settings/SearchOnlyReplicaIT.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/opensearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/decider/ThrottlingAllocationDecider.java
  server/src/main/java/org/opensearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/ReplicationGroup.java
  server/src/main/java/org/opensearch/index/shard/StoreRecovery.java
  server/src/test/java/org/opensearch/cluster/metadata/SearchOnlyReplicaTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/decider/SearchReplicaAllocationDeciderTests.java
  server/src/test/java/org/opensearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/opensearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/opensearch/cluster/routing/TestShardRouting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Limit RW separation to remote store enabled clusters and update recovery flow (#16760)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/cluster/allocation/SearchReplicaFilteringAllocationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationAndRecoveryIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaRestoreIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/settings/SearchOnlyReplicaIT.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/opensearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/decider/ThrottlingAllocationDecider.java
  server/src/main/java/org/opensearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/ReplicationGroup.java
  server/src/main/java/org/opensearch/index/shard/StoreRecovery.java
  server/src/test/java/org/opensearch/cluster/metadata/SearchOnlyReplicaTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/decider/SearchReplicaAllocationDeciderTests.java
  server/src/test/java/org/opensearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/opensearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/opensearch/cluster/routing/TestShardRouting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Bump opentelemetry from 1.41.0 to 1.46.0 and opentelemetry-semconv from 1.27.0-alpha to 1.29.0-alpha
  CHANGELOG.md
  gradle/libs.versions.toml
  plugins/telemetry-otel/build.gradle
  plugins/telemetry-otel/licenses/opentelemetry-api-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-incubator-1.41.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-incubator-1.46.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-context-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-context-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-logging-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-logging-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-sender-okhttp-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-sender-okhttp-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-logs-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-logs-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-metrics-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-metrics-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-trace-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-trace-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-semconv-1.27.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-semconv-1.29.0-alpha.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix case insensitive and escaped query on wildcard (#16827)
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/search/270_wildcard_fieldtype_queries.yml
  server/src/main/java/org/opensearch/index/mapper/WildcardFieldMapper.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

TransportBulkAction.doRun()
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

support termQueryCaseInsensitive/termQuery can search from doc_value in flat_object/keyword field (#16991)
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/92_flat_object_support_doc_values.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/340_doc_values_field.yml
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/main/java/org/opensearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldTypeTests.java
  server/src/test/java/org/opensearch/index/mapper/KeywordFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Bump opentelemetry from 1.41.0 to 1.46.0 and opentelemetry-semconv from 1.27.0-alpha to 1.29.0-alpha (#17000)
  CHANGELOG.md
  gradle/libs.versions.toml
  plugins/telemetry-otel/build.gradle
  plugins/telemetry-otel/licenses/opentelemetry-api-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-incubator-1.41.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-api-incubator-1.46.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-context-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-context-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-logging-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-logging-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-otlp-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-sender-okhttp-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-exporter-sender-okhttp-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-common-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-common-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-logs-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-logs-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-metrics-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-metrics-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-trace-1.41.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-sdk-trace-1.46.0.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-semconv-1.27.0-alpha.jar.sha1
  plugins/telemetry-otel/licenses/opentelemetry-semconv-1.29.0-alpha.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

TransportBulkAction.doRun() (#16950)
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Limit RW separation to remote store enabled clusters and update recovery flow (#16760) (#16999)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/cluster/allocation/SearchReplicaFilteringAllocationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationAndRecoveryIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaRestoreIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/settings/SearchOnlyReplicaIT.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataUpdateSettingsService.java
  server/src/main/java/org/opensearch/cluster/routing/IndexRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/opensearch/cluster/routing/ShardRouting.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/IndexMetadataUpdater.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/decider/ThrottlingAllocationDecider.java
  server/src/main/java/org/opensearch/index/seqno/ReplicationTracker.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/ReplicationGroup.java
  server/src/main/java/org/opensearch/index/shard/StoreRecovery.java
  server/src/test/java/org/opensearch/cluster/metadata/SearchOnlyReplicaTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/decider/SearchReplicaAllocationDeciderTests.java
  server/src/test/java/org/opensearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/opensearch/index/shard/IndexShardTests.java
  test/framework/src/main/java/org/opensearch/cluster/routing/TestShardRouting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Stop processing search requests when _msearch is canceled
  server/src/main/java/org/opensearch/action/search/TransportMultiSearchAction.java
  server/src/test/java/org/opensearch/action/search/TransportMultiSearchActionTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Always write doc_values param to mapping for wildcard field
  server/src/main/java/org/opensearch/index/mapper/WildcardFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/WildcardFieldMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Move null-check out of loop
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Show only intersecting buckets to the Adjacency matrix aggregation (#11733)
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/70_adjacency_matrix.yml
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregatorFactory.java
  server/src/test/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilderTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/AdjacencyMatrixTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix exists queries on nested flat_object fields throw exception
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/90_flat_object.yml
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix Flaky Test SpecificClusterManagerNodesIT.testElectOnlyBetweenClusterManagerNodes
  server/src/internalClusterTest/java/org/opensearch/cluster/SpecificClusterManagerNodesIT.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add ingestion modules
  server/build.gradle
  server/src/main/java/org/opensearch/index/IngestionConsumerFactory.java
  server/src/main/java/org/opensearch/index/IngestionShardConsumer.java
  server/src/main/java/org/opensearch/index/IngestionShardPointer.java
  server/src/main/java/org/opensearch/index/IngestionSourceConfig.java
  server/src/main/java/org/opensearch/index/KafkaConsumerFactory.java
  server/src/main/java/org/opensearch/index/KafkaMessage.java
  server/src/main/java/org/opensearch/index/KafkaOffset.java
  server/src/main/java/org/opensearch/index/KafkaPartitionConsumer.java
  server/src/main/java/org/opensearch/index/KafkaSourceConfig.java
  server/src/main/java/org/opensearch/index/Message.java
  server/src/main/java/org/opensearch/plugins/IngestionSourcePlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

stream poller wip
  server/src/main/java/org/opensearch/index/IngestionShardConsumer.java
  server/src/main/java/org/opensearch/index/KafkaPartitionConsumer.java
  server/src/main/java/org/opensearch/indices/ingest/DefaultStreamPoller.java
  server/src/main/java/org/opensearch/indices/ingest/DocumentProcessor.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionManager.java
  server/src/main/java/org/opensearch/indices/ingest/StreamPoller.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

update ingestion engine
  server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/opensearch/index/IngestionConsumerFactory.java
  server/src/main/java/org/opensearch/index/IngestionShardConsumer.java
  server/src/main/java/org/opensearch/index/KafkaPartitionConsumer.java
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/main/java/org/opensearch/indices/IndicesService.java
  server/src/main/java/org/opensearch/indices/ingest/DefaultStreamPoller.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngine.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineFactory.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionManager.java
  server/src/main/java/org/opensearch/indices/ingest/StreamPoller.java
  server/src/main/java/org/opensearch/plugins/IngestionSourcePlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

more updates
  .idea/vcs.xml
  server/build.gradle
  server/src/main/java/org/opensearch/index/KafkaMessage.java
  server/src/main/java/org/opensearch/index/KafkaOffset.java
  server/src/main/java/org/opensearch/index/KafkaPartitionConsumer.java
  server/src/main/java/org/opensearch/index/engine/IngestionEngine.java
  server/src/main/java/org/opensearch/indices/ingest/DefaultStreamPoller.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineFactory.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineV1.java
  server/src/test/java/org/opensearch/index/engine/IngestionEngineTests.java
  server/src/test/java/org/opensearch/indices/ingest/IngestionEngineTests.java
  server/src/test/java/org/opensearch/indices/ingest/IngestionEngineV1Tests.java
  server/src/test/java/org/opensearch/indices/ingest/KafkaUtils.java
  server/src/test/resources/testcontainers.properties
  test/framework/src/main/java/org/opensearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/opensearch/test/IndexSettingsModule.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

kafka container
  server/build.gradle
  server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/opensearch/index/IngestionSourceConfig.java
  server/src/main/java/org/opensearch/index/KafkaSourceConfig.java
  server/src/test/java/org/opensearch/indices/ingest/IngestionEngineTests.java
  server/src/test/java/org/opensearch/indices/ingest/KafkaUtils.java
  test/framework/src/main/java/org/opensearch/test/IndexSettingsModule.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

local update
  server/build.gradle
  server/src/main/java/org/opensearch/index/engine/IngestionEngine.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineFactory.java
  server/src/test/java/org/opensearch/index/engine/IngestionEngineTests.java
  test/framework/src/main/java/org/opensearch/index/engine/EngineTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

add batch_start/end to stream poller
  server/src/main/java/org/opensearch/index/IngestionShardPointer.java
  server/src/main/java/org/opensearch/index/KafkaOffset.java
  server/src/main/java/org/opensearch/index/engine/IngestionEngine.java
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/main/java/org/opensearch/indices/ingest/DefaultStreamPoller.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineV1.java
  server/src/main/java/org/opensearch/indices/ingest/StreamPoller.java
  server/src/test/java/org/opensearch/index/engine/IngestionEngineTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

local change
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/RunTask.java
  server/build.gradle
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add index settings
  .idea/runConfigurations/Debug_OpenSearch.xml
  indexCreation.http
  server/build.gradle
  server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/opensearch/cluster/metadata/IngestionSource.java
  server/src/main/java/org/opensearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/opensearch/index/IngestionConsumerFactory.java
  server/src/main/java/org/opensearch/index/IngestionShardPointer.java
  server/src/main/java/org/opensearch/index/IngestionSourceConfig.java
  server/src/main/java/org/opensearch/index/KafkaConsumerFactory.java
  server/src/main/java/org/opensearch/index/KafkaMessage.java
  server/src/main/java/org/opensearch/index/KafkaOffset.java
  server/src/main/java/org/opensearch/index/KafkaPartitionConsumer.java
  server/src/main/java/org/opensearch/index/KafkaSourceConfig.java
  server/src/main/java/org/opensearch/index/engine/IngestionEngine.java
  server/src/main/java/org/opensearch/indices/IndicesService.java
  server/src/main/java/org/opensearch/indices/ingest/DefaultStreamPoller.java
  server/src/main/java/org/opensearch/indices/ingest/IngestionEngineV1.java
  server/src/test/java/org/opensearch/indices/ingest/IngestionEngineV1Tests.java
  test/framework/src/main/java/org/opensearch/test/IndexSettingsModule.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
