Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

Overflow prevention
  CHANGELOG.md
  server/src/main/java/org/opensearch/common/time/DateUtils.java
  server/src/main/java/org/opensearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/opensearch/common/time/DateUtilsTests.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

gRPC feature flag to true as a temporary fix. When set with gradle it appears port permissions in Securty.java are checked previous to feature flags initialized from settings.
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Remove main action service.
  plugins/transport-grpc/src/internalClusterTest/java/org/opensearch/transport/grpc/actions/MainActionTests.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/GrpcModulePlugin.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/actions/MainActionService.java
  plugins/transport-grpc/src/main/proto/opensearch/main_action.proto
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix typo http -> grpc.
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/Netty4GrpcServerTransport.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add a note to default true gRPC feature flag.
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Overflow prevention (#16812)
  CHANGELOG.md
  server/src/main/java/org/opensearch/common/time/DateUtils.java
  server/src/main/java/org/opensearch/index/mapper/DateFieldMapper.java
  server/src/test/java/org/opensearch/common/time/DateUtilsTests.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldMapperTests.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

add assertions that Search Replicas are not in the in-sync id set nor the AllAllocationIds set in the routing table
  server/src/main/java/org/opensearch/cluster/routing/IndexShardRoutingTable.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/ReplicationGroup.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

update async task to only run if the FF is enabled and we are a remote store cluster.
  server/src/main/java/org/opensearch/index/IndexService.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

clean up max shards logic
  server/src/main/java/org/opensearch/cluster/routing/allocation/IndexMetadataUpdater.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

remove search replicas from check during renewPeerRecoveryRetentionLeases
  server/src/main/java/org/opensearch/index/seqno/ReplicationTracker.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Refactor QueryRewriteContext to interface
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/index/query/BaseQueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryShardContext.java
  server/src/main/java/org/opensearch/indices/IndicesService.java
  server/src/main/java/org/opensearch/search/SearchService.java
  server/src/main/java/org/opensearch/search/pipeline/PipelinedRequest.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add Template Query
  plugins/ingest-attachment/build.gradle
  plugins/ingest-attachment/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/repository-azure/build.gradle
  plugins/repository-azure/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/repository-hdfs/licenses/commons-lang3-3.17.0.jar.sha1
  server/build.gradle
  server/licenses/commons-lang3-LICENSE.txt
  server/licenses/commons-lang3-NOTICE.txt
  server/licenses/commons-text-LICENSE.txt
  server/licenses/commons-text-NOTICE.txt
  server/src/main/java/org/opensearch/index/query/BaseQueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryBuilders.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/TemplateQueryBuilder.java
  server/src/main/java/org/opensearch/search/SearchModule.java
  server/src/main/java/org/opensearch/search/pipeline/PipelineProcessingContext.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldTypeTests.java
  server/src/test/java/org/opensearch/index/query/RewriteableTests.java
  server/src/test/java/org/opensearch/index/query/TemplateQueryBuilderTests.java
  server/src/test/java/org/opensearch/search/SearchModuleTests.java
  server/src/test/java/org/opensearch/search/aggregations/AggregatorFactoriesTests.java
  server/src/test/java/org/opensearch/search/aggregations/bucket/FiltersTests.java
  server/src/test/java/org/opensearch/search/builder/SearchSourceBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Uploading SHAs files for licenses
  server/licenses/commons-lang3-3.17.0.jar.sha1
  server/licenses/commons-text-1.10.0.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Filter shards for sliced search at coordinator
  server/src/main/java/org/opensearch/action/admin/cluster/shards/ClusterSearchShardsRequest.java
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
  server/src/test/java/org/opensearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/opensearch/cluster/routing/OperationRoutingTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Skip remote-repositories validations for node-joins when RepositoriesService is not in sync with cluster-state (#16763)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/discovery/DiscoveryDisruptionIT.java
  server/src/main/java/org/opensearch/node/remotestore/RemoteStoreNodeService.java
  server/src/main/java/org/opensearch/repositories/RepositoriesService.java
  server/src/test/java/org/opensearch/cluster/coordination/JoinTaskExecutorTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchIntegTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Skip remote-repositories validations for node-joins when RepositoriesService is not in sync with cluster-state (#16763)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/discovery/DiscoveryDisruptionIT.java
  server/src/main/java/org/opensearch/node/remotestore/RemoteStoreNodeService.java
  server/src/main/java/org/opensearch/repositories/RepositoriesService.java
  server/src/test/java/org/opensearch/cluster/coordination/JoinTaskExecutorTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchIntegTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Ensure consistency of system flag on IndexMetadata after diff is applied (#16644) (#16777)
  CHANGELOG.md
  server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java
  server/src/test/java/org/opensearch/cluster/metadata/IndexMetadataTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fix test
  server/src/test/java/org/opensearch/cluster/coordination/JoinTaskExecutorTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Force commons-io transitive dependency version
  test/fixtures/hdfs-fixture/build.gradle
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Force commons-io transitive dependency version (#16816)
  test/fixtures/hdfs-fixture/build.gradle
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[Backport 2.x] Skip remote-repositories validations for node-joins when RepositoriesService is not in sync with cluster-state (#16820)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/discovery/DiscoveryDisruptionIT.java
  server/src/main/java/org/opensearch/node/remotestore/RemoteStoreNodeService.java
  server/src/main/java/org/opensearch/repositories/RepositoriesService.java
  server/src/test/java/org/opensearch/cluster/coordination/JoinTaskExecutorTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchIntegTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add visitor logic to FunctionScoreQueryBuilder
  server/src/main/java/org/opensearch/index/query/functionscore/FunctionScoreQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

update changelog
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add assertion that inner query builder was visited
  server/src/test/java/org/opensearch/index/query/functionscore/FunctionScoreQueryBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

upgrade httpcore5/httpclient5 to support ExtendedSocketOption in HttpAsyncClient
  CHANGELOG-3.0.md
  client/rest/licenses/httpclient5-5.3.1.jar.sha1
  client/rest/licenses/httpclient5-5.4.1.jar.sha1
  client/rest/licenses/httpcore5-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-h2-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-h2-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.3.1.jar.sha1
  client/rest/src/main/java/org/opensearch/client/RestClientBuilder.java
  client/rest/src/test/java/org/opensearch/client/RestClientBuilderTests.java
  client/rest/src/test/java/org/opensearch/client/documentation/RestClientDocumentation.java
  client/sniffer/licenses/httpclient5-5.3.1.jar.sha1
  client/sniffer/licenses/httpclient5-5.4.1.jar.sha1
  client/sniffer/licenses/httpcore5-5.2.5.jar.sha1
  client/sniffer/licenses/httpcore5-5.3.1.jar.sha1
  gradle/libs.versions.toml
  test/framework/src/main/java/org/opensearch/bootstrap/BootstrapForTesting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Kerberos, forbiddenApis, SecureRandom, SunJCE, AzureTests
  buildSrc/src/main/java/org/opensearch/gradle/http/WaitForHttpResource.java
  buildSrc/src/main/resources/forbidden/jdk-signatures.txt
  distribution/src/config/fips_java.security
  distribution/tools/keystore-cli/src/test/java/org/opensearch/common/settings/KeyStoreWrapperTests.java
  libs/common/build.gradle
  libs/common/licenses/bcpkix-fips-2.0.7.jar.sha1
  libs/common/licenses/bouncycastle-LICENSE.txt
  libs/common/licenses/bouncycastle-NOTICE.txt
  libs/common/src/main/java/org/opensearch/common/SecureRandomHolder.java
  libs/common/src/main/java/org/opensearch/common/crypto/KeyStoreFactory.java
  modules/transport-netty4/build.gradle
  plugins/analysis-icu/src/test/java/org/opensearch/index/analysis/IcuAnalyzerTests.java
  plugins/repository-azure/build.gradle
  plugins/repository-s3/build.gradle
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3Service.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobContainerRetriesTests.java
  plugins/transport-nio/build.gradle
  plugins/transport-nio/src/test/java/org/opensearch/http/nio/ssl/SecureNioHttpServerTransportTests.java
  plugins/transport-nio/src/test/resources/README.txt
  plugins/transport-nio/src/test/resources/certificate.crt
  plugins/transport-nio/src/test/resources/certificate.key
  plugins/transport-reactor-netty4/build.gradle
  plugins/transport-reactor-netty4/src/test/java/org/opensearch/http/reactor/netty4/ssl/SecureReactorNetty4HttpServerTransportTests.java
  plugins/transport-reactor-netty4/src/test/resources/README.txt
  plugins/transport-reactor-netty4/src/test/resources/certificate.crt
  plugins/transport-reactor-netty4/src/test/resources/certificate.key
  server/licenses/bcpkix-fips-2.0.7.jar.sha1
  server/src/main/java/org/opensearch/bootstrap/Bootstrap.java
  server/src/main/java/org/opensearch/bootstrap/SecureRandomInitializer.java
  server/src/main/java/org/opensearch/bootstrap/SecurityProviderManager.java
  server/src/main/java/org/opensearch/common/Randomness.java
  server/src/main/java/org/opensearch/common/settings/KeyStoreWrapper.java
  server/src/main/resources/org/opensearch/bootstrap/security.policy
  server/src/test/java/org/opensearch/bootstrap/SecurityProviderManagerTests.java
  server/src/test/resources/org/opensearch/bootstrap/test.policy
  test/fixtures/krb5kdc-fixture/src/main/resources/provision/kdc.conf.template
  test/fixtures/krb5kdc-fixture/src/main/resources/provision/krb5.conf.template
  test/framework/src/main/java/org/opensearch/bootstrap/BootstrapForTesting.java
  test/framework/src/main/java/org/opensearch/test/KeyStoreUtils.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied

Add changelog
  CHANGELOG.md
  plugins/repository-azure/licenses/commons-lang3-LICENSE.txt
  plugins/repository-azure/licenses/commons-lang3-NOTICE.txt
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Revert "update async task to only run if the FF is enabled and we are a remote store cluster."
  server/src/main/java/org/opensearch/index/IndexService.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Use the Upgrade flow by default
  client/rest-high-level/src/test/resources/org/opensearch/bootstrap/test.policy
  client/rest/licenses/httpclient5-5.4.1.jar.sha1
  client/rest/licenses/httpcore5-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-h2-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.3.1.jar.sha1
  client/rest/src/main/java/org/opensearch/client/RestClientBuilder.java
  client/rest/src/test/java/org/opensearch/client/RestClientSingleHostIntegTests.java
  client/sniffer/licenses/httpclient5-5.4.1.jar.sha1
  client/sniffer/licenses/httpcore5-5.3.1.jar.sha1
  plugins/transport-reactor-netty4/src/javaRestTest/java/org/opensearch/rest/ReactorNetty4BadRequestIT.java
  plugins/transport-reactor-netty4/src/javaRestTest/java/org/opensearch/rest/ReactorNetty4HeadBodyIsEmptyIT.java
  plugins/transport-reactor-netty4/src/javaRestTest/java/org/opensearch/rest/ReactorNetty4StreamingIT.java
  plugins/transport-reactor-netty4/src/javaRestTest/java/org/opensearch/rest/ReactorNetty4StreamingStressIT.java
  server/src/main/resources/org/opensearch/bootstrap/test-framework.policy
  test/framework/src/main/java/org/opensearch/bootstrap/BootstrapForTesting.java
  test/framework/src/main/java/org/opensearch/test/rest/OpenSearchRestTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Filter shards for sliced search at coordinator
  server/src/main/java/org/opensearch/action/admin/cluster/shards/ClusterSearchShardsRequest.java
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
  server/src/test/java/org/opensearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/opensearch/cluster/routing/OperationRoutingTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fixed PR comments and moved the integration tests to separate module
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SegmentReplicationStatsIT.java
  server/src/main/java/org/opensearch/action/admin/indices/replication/SegmentReplicationShardStatsResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/replication/TransportSegmentReplicationStatsAction.java
  server/src/main/java/org/opensearch/index/SegmentReplicationPerGroupStats.java
  server/src/main/java/org/opensearch/index/seqno/ReplicationTracker.java
  server/src/test/java/org/opensearch/action/admin/indices/replication/TransportSegmentReplicationStatsActionTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Addressed Ankit's comment
  modules/cache-common/src/test/java/org/opensearch/cache/common/tier/TieredSpilloverCacheStatsHolderTests.java
  server/src/main/java/org/opensearch/common/cache/stats/DefaultCacheStatsHolder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added release notes for 1.3.20
  release-notes/opensearch.release-notes-1.3.20.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added release notes for 1.3.20 (#16824)
  release-notes/opensearch.release-notes-1.3.20.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update opensearch.release-notes-1.3.20.md
  release-notes/opensearch.release-notes-1.3.20.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Removing skipIndexResolver param
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportCatShardsAction.java
  server/src/main/java/org/opensearch/action/admin/indices/stats/IndicesStatsRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/stats/TransportIndicesStatsAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add changelog and REST test
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/api/search_shards.json
  rest-api-spec/src/main/resources/rest-api-spec/test/search_shards/20_slice.yml
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterSearchShardsAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed failing integ tests
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SegmentReplicationStatsIT.java
  server/src/main/java/org/opensearch/action/admin/indices/replication/TransportSegmentReplicationStatsAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix multi-value sort for unsigned long
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongMultiValueMode.java
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongValuesComparatorSource.java
  server/src/test/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongMultiValueModeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add initial rest-api-spec tests
  rest-api-spec/src/main/resources/rest-api-spec/test/search/280_unsigned_long.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/290_long.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah
