Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

addressing review comments
  server/src/main/java/org/opensearch/index/mapper/DocumentParser.java
  server/src/main/java/org/opensearch/index/mapper/MapperService.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adding UT
  server/src/test/java/org/opensearch/index/shard/RemoteIndexShardTests.java
  server/src/test/java/org/opensearch/index/shard/SegmentReplicationIndexShardTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

UT fix
  CHANGELOG.md
  server/src/main/java/org/opensearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/opensearch/index/shard/SegmentReplicationIndexShardTests.java
  test/framework/src/main/java/org/opensearch/index/replication/OpenSearchIndexLevelReplicationTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix shallow v1 snapshot failures on closed index
  server/src/internalClusterTest/java/org/opensearch/remotestore/RemoteStoreIT.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/repositories/FilterRepository.java
  server/src/main/java/org/opensearch/repositories/Repository.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
  server/src/main/java/org/opensearch/snapshots/SnapshotShardsService.java
  server/src/test/java/org/opensearch/repositories/RepositoriesServiceTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Change Remote state read thread pool to Fixed type (#16850)
  server/src/main/java/org/opensearch/action/support/clustermanager/TransportClusterManagerNodeAction.java
  server/src/main/java/org/opensearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/opensearch/gateway/remote/RemoteClusterStateService.java
  server/src/main/java/org/opensearch/threadpool/ThreadPool.java
  server/src/test/java/org/opensearch/gateway/remote/RemoteClusterStateServiceTests.java
  server/src/test/java/org/opensearch/threadpool/ScalingThreadPoolTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied

Retrieve value from DocValues in a flat_object filed
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/92_flat_object_support_doc_values.yml
  server/src/internalClusterTest/java/org/opensearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/opensearch/index/mapper/DocValueFetcher.java
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Changes to support IP field in star tree indexing (#16641)
  server/src/internalClusterTest/java/org/opensearch/index/mapper/StarTreeMapperIT.java
  server/src/main/java/org/opensearch/index/codec/composite/composite912/Composite912DocValuesWriter.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/DimensionFactory.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/DimensionType.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/IpDimension.java
  server/src/main/java/org/opensearch/index/compositeindex/datacube/OrdinalDimension.java
  server/src/main/java/org/opensearch/index/mapper/IpFieldMapper.java
  server/src/main/java/org/opensearch/index/mapper/KeywordFieldMapper.java
  server/src/test/java/org/opensearch/index/codec/composite912/datacube/startree/StarTreeKeywordDocValuesFormatTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderFlushFlowTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderMergeFlowTests.java
  server/src/test/java/org/opensearch/index/compositeindex/datacube/startree/builder/StarTreeBuilderTestCase.java
  server/src/test/java/org/opensearch/index/mapper/StarTreeMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix MissingValues ordinal traversal and MultiOrdinalsTests tests
  server/src/main/java/org/opensearch/search/aggregations/support/MissingValues.java
  server/src/test/java/org/opensearch/index/fielddata/ordinals/MultiOrdinalsTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update Gradle to 8.12
  buildSrc/src/main/java/org/opensearch/gradle/test/ErrorReportingTestListener.java
  gradle/wrapper/gradle-wrapper.properties
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Change Remote state read thread pool to Fixed type (#16850) (#16879)
  server/src/main/java/org/opensearch/action/support/clustermanager/TransportClusterManagerNodeAction.java
  server/src/main/java/org/opensearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/opensearch/gateway/remote/RemoteClusterStateService.java
  server/src/main/java/org/opensearch/threadpool/ThreadPool.java
  server/src/test/java/org/opensearch/gateway/remote/RemoteClusterStateServiceTests.java
  server/src/test/java/org/opensearch/threadpool/ScalingThreadPoolTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied

Extend MultiValueMode with dedicated support of unsigned_long doc values
  server/src/main/java/org/opensearch/index/fielddata/FieldData.java
  server/src/main/java/org/opensearch/index/fielddata/SingletonSortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/SortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongMultiValueMode.java
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongValuesComparatorSource.java
  server/src/main/java/org/opensearch/search/MultiValueMode.java
  server/src/test/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongMultiValueModeTests.java
  server/src/test/java/org/opensearch/search/MultiValueModeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Prevent cascading test failures in SearchServiceTests
  server/src/test/java/org/opensearch/search/SearchServiceTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix DerivedFieldTypeTests
  server/src/main/java/org/opensearch/index/mapper/IpFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/DerivedFieldTypeTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add CHANGELOG.md, minor cleanups
  CHANGELOG.md
  server/src/main/java/org/opensearch/index/fielddata/FieldData.java
  server/src/main/java/org/opensearch/index/fielddata/SingletonSortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/fieldcomparator/UnsignedLongValuesComparatorSource.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix Flaky Test SearchTimeoutIT.testSimpleTimeout
  server/src/internalClusterTest/java/org/opensearch/search/SearchTimeoutIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix TransferManagerRemoteDirectoryReaderTests
  server/src/test/java/org/opensearch/index/store/remote/utils/TransferManagerRemoteDirectoryReaderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add missing javadoc
  server/src/main/java/org/opensearch/index/mapper/IpFieldMapper.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix Flaky Test SearchTimeoutIT.testSimpleTimeout (#16828)
  server/src/internalClusterTest/java/org/opensearch/search/SearchTimeoutIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add google_auth dependencies
  gradle/libs.versions.toml
  plugins/discovery-gce/build.gradle
  plugins/discovery-gce/licenses/google-auth-library-credentials-1.30.1.jar.sha1
  plugins/discovery-gce/licenses/google-auth-library-oauth2-http-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-1.29.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-1.29.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-1.30.1.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Filter shards for sliced search at coordinator
  server/src/main/java/org/opensearch/action/admin/cluster/shards/ClusterSearchShardsRequest.java
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
  server/src/test/java/org/opensearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/opensearch/cluster/routing/OperationRoutingTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add comment explaining slice <-> shard assignment
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add changelog and REST test
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/api/search_shards.json
  rest-api-spec/src/main/resources/rest-api-spec/test/search_shards/20_slice.yml
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterSearchShardsAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Rename shardId to shardOrdinal for clarity
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Uploaded Index generated from Lucene 8.x ( OpenSearch 1.3.0 ) to be used by UnitTests
  server/src/main/java/org/opensearch/index/store/remote/directory/RemoteSnapshotDirectory.java
  server/src/test/java/org/opensearch/common/lucene/LuceneTests.java
  server/src/test/java/org/opensearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/opensearch/index/store/StoreTests.java
  server/src/test/resources/indices/bwc/es-6.3.0/testIndex-es-6.3.0.zip
  server/src/test/resources/indices/bwc/os-1.3.0/README.md
  server/src/test/resources/indices/bwc/os-1.3.0/testIndex-os-1.3.0.zip
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

Moved path to a constant
  server/src/test/java/org/opensearch/common/lucene/LuceneTests.java
  server/src/test/java/org/opensearch/index/engine/ReadOnlyEngineTests.java
  server/src/test/java/org/opensearch/index/store/StoreTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Adds integration tests for non-default RAC plugin
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/NonDefaultResourceAccessControlPluginIT.java
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPluginIT.java
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/testplugins/TestRACPlugin.java
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/testplugins/TestResourcePlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Removes unused dependency licenses
  distribution/tools/upgrade-cli/licenses/jackson-LICENSE
  distribution/tools/upgrade-cli/licenses/jackson-NOTICE
  libs/x-content/build.gradle
  modules/ingest-geoip/licenses/jackson-annotations-LICENSE
  modules/ingest-geoip/licenses/jackson-annotations-NOTICE
  modules/ingest-geoip/licenses/jackson-databind-LICENSE
  modules/ingest-geoip/licenses/jackson-databind-NOTICE
  plugins/crypto-kms/licenses/jackson-LICENSE
  plugins/crypto-kms/licenses/jackson-NOTICE
  plugins/discovery-ec2/licenses/jackson-LICENSE
  plugins/discovery-ec2/licenses/jackson-NOTICE
  plugins/repository-s3/licenses/jackson-LICENSE
  plugins/repository-s3/licenses/jackson-NOTICE
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds missing license headers
  server/src/test/java/org/opensearch/accesscontrol/resources/CreatedByTests.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ResourceServiceTests.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ShareWithTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Retrieve value from DocValues in a flat_object filed
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/test/index/92_flat_object_support_doc_values.yml
  server/src/internalClusterTest/java/org/opensearch/search/fields/SearchFieldsIT.java
  server/src/main/java/org/opensearch/index/mapper/DocValueFetcher.java
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

handling edge cases
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/index/mapper/StarTreeMapperIT.java
  server/src/main/java/org/opensearch/index/mapper/DocumentParser.java
  server/src/main/java/org/opensearch/index/mapper/MapperService.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Fix Issue 16890: Hide Stracktrace while translog transfer
  server/src/main/java/org/opensearch/index/translog/transfer/TranslogTransferManager.java
  server/src/test/java/org/opensearch/index/translog/transfer/TranslogTransferManagerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add google_auth dependencies
  gradle/libs.versions.toml
  plugins/discovery-gce/build.gradle
  plugins/discovery-gce/licenses/google-auth-library-credentials-1.30.1.jar.sha1
  plugins/discovery-gce/licenses/google-auth-library-oauth2-http-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-1.29.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-credentials-1.30.1.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-1.29.0.jar.sha1
  plugins/repository-gcs/licenses/google-auth-library-oauth2-http-1.30.1.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds type bounding to Resource
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/testplugins/TestResourcePlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/Resource.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPlugin.java
  server/src/main/java/org/opensearch/plugins/ResourceAccessControlPlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Updates Resource to be a serializable
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/testplugins/TestResourcePlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/Resource.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds getResourceName as API contract for Resource
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/testplugins/TestResourcePlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/Resource.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

ThirdPartyAudit append counter to duplicate files on unzip.
  buildSrc/src/main/java/org/opensearch/gradle/precommit/ThirdPartyAuditTask.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Correct the license headers
  server/src/main/java/org/opensearch/index/fielddata/SingletonSortedNumericUnsignedLongValues.java
  server/src/main/java/org/opensearch/index/fielddata/SortedNumericUnsignedLongValues.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Correct the @PublicApi version
  server/src/main/java/org/opensearch/index/fielddata/SortedNumericUnsignedLongValues.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update Gradle to 8.12
  buildSrc/src/main/java/org/opensearch/gradle/test/ErrorReportingTestListener.java
  gradle/wrapper/gradle-wrapper.properties
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed unit tests for lucene 10 upgrade
  server/src/main/java/org/opensearch/search/aggregations/MultiBucketCollector.java
  server/src/test/java/org/opensearch/index/engine/CompletionStatsCacheTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
