Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

Replae redundant resolvePublishPort() with helper.
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/Netty4GrpcServerTransport.java
  server/src/main/java/org/opensearch/common/network/NetworkService.java
  server/src/main/java/org/opensearch/http/AbstractHttpServerTransport.java
  server/src/main/java/org/opensearch/transport/TcpTransport.java
  server/src/test/java/org/opensearch/http/AbstractHttpServerTransportTests.java
  server/src/test/java/org/opensearch/transport/PublishPortTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied

Remove gRPC feature flag. Redundant for a plugin.
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/GrpcModulePlugin.java
  server/src/main/java/org/opensearch/common/settings/FeatureFlagSettings.java
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
  server/src/test/java/org/opensearch/transport/PublishPortTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix ITtest Fail
  server/src/main/java/org/opensearch/search/builder/SearchSourceBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

spotlessApply
  modules/cache-common/src/test/java/org/opensearch/cache/common/tier/TieredSpilloverCacheTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Remove gRPC plugin exception from forbidden-deps. Guava to runtime dep.
  gradle/forbidden-dependencies.gradle
  plugins/transport-grpc/build.gradle
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Rename gRPC type key. Emphasize experimental.
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/Netty4GrpcServerTransport.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix a few more MultiTermQuery-related test failures
  server/src/main/java/org/opensearch/indices/SystemIndexDescriptor.java
  server/src/test/java/org/opensearch/index/mapper/FlatObjectFieldTypeTests.java
  server/src/test/java/org/opensearch/index/query/DisMaxQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/query/MatchBoolPrefixQueryBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

[Backport] [2.18] Update Apache Lucene to 9.12.1 (#16846) (#16870)
  libs/core/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[Backport] [2.18] Update Apache Lucene to 9.12.1 (#16846) (#16870)
  libs/core/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Handle version during repository registration for prefix mode verification (#16831) (#16849)
  server/src/main/java/org/opensearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/opensearch/cluster/service/ClusterService.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Change Remote state read thread pool to Fixed type (#16850)
  server/src/main/java/org/opensearch/action/support/clustermanager/TransportClusterManagerNodeAction.java
  server/src/main/java/org/opensearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/opensearch/gateway/remote/RemoteClusterStateService.java
  server/src/main/java/org/opensearch/threadpool/ThreadPool.java
  server/src/test/java/org/opensearch/gateway/remote/RemoteClusterStateServiceTests.java
  server/src/test/java/org/opensearch/threadpool/ScalingThreadPoolTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied

[Backport] [2.18] Update Apache Lucene to 9.12.1 (#16846) (#16870) (#16876)
  libs/core/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[Backport] [2.18] Update Apache Lucene to 9.12.1 (#16846) (#16870) (#16877)
  libs/core/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

use the correct type to widen the sort fields when merging top docs
  server/src/internalClusterTest/java/org/opensearch/search/sort/FieldSortIT.java
  server/src/main/java/org/opensearch/action/search/SearchPhaseController.java
  server/src/main/java/org/opensearch/search/sort/SortedWiderNumericSortField.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

Fix failures in S3RepositoryPluginTests
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3RepositoryPluginTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix UTs
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix failures in S3RepositoryThirdPartyTests
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/AmazonAsyncS3Reference.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3AsyncService.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3RepositoryPlugin.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobContainerMockClientTests.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix S3BlobStoreRepositoryTests
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3RepositoryThirdPartyTests.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/AmazonAsyncS3Reference.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3AsyncService.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobContainerMockClientTests.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix failures in S3BlobStoreRepositoryTests
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3AsyncService.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3BlobContainer.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3RepositoryPlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Use async client for delete blob or path in S3 Blob Container
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3BlobStoreRepositoryTests.java
  plugins/repository-s3/src/internalClusterTest/java/org/opensearch/repositories/s3/S3RepositoryThirdPartyTests.java
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3BlobContainer.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Javadocs for Netty4GrpcServerTransport.
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/GrpcModulePlugin.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/Netty4GrpcServerTransport.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/package-info.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

[POC] [Security Manager Replacement] GraalVM sandboxing
  libs/espresso-sm/build.gradle
  libs/espresso-sm/src/main/java/org/opensearch/espresso/sandbox/Sandbox.java
  plugins/identity-shiro/src/main/java/org/opensearch/identity/shiro/ShiroIdentityPlugin.java
  server/src/main/java/org/opensearch/bootstrap/QuickBoostrap.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied

Add more tests for failover case
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaRestoreIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds unit and integration tests
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPluginIT.java
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/SampleTestResourcePlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceService.java
  server/src/test/java/org/opensearch/accesscontrol/resources/CreatedByTests.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ResourceServiceTests.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ShareWithTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds missing experimental annotations
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceService.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/package-info.java
  server/src/main/java/org/opensearch/accesscontrol/resources/package-info.java
  server/src/main/java/org/opensearch/plugins/ResourceAccessControlPlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update remotestore restore logic and add test ensuring we can restore only writers when red
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaRestoreIT.java
  server/src/main/java/org/opensearch/cluster/routing/IndexRoutingTable.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix query timeout handling by checking searchContext.isSearchTimedOut()
  CHANGELOG.md
  server/src/main/java/org/opensearch/search/internal/ContextIndexSearcher.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add more unit test
  server/src/main/java/org/opensearch/search/pipeline/ProcessorExecutionDetail.java
  server/src/test/java/org/opensearch/action/search/SearchResponseTests.java
  server/src/test/java/org/opensearch/search/pipeline/ProcessorExecutionDetailTests.java
  server/src/test/java/org/opensearch/search/pipeline/SearchPipelineServiceTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

Fixed QueryPhaseTests#minScoreOptimisation by not delegating setWeight to underlying delegate
  server/src/main/java/org/opensearch/common/lucene/MinimumScoreCollector.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Uses jackson object-mapper to read resource class and updates the integration tests as well as security policy
  libs/core/build.gradle
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPluginIT.java
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/TestResourcePlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPlugin.java
  server/src/main/resources/org/opensearch/bootstrap/security.policy
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Completes the integrations tests
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPluginIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Updates SHAs
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.18.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.18.2.jar.sha1
  libs/core/licenses/jackson-annotations-2.18.2.jar.sha1
  libs/core/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.18.2.jar.sha1
  server/licenses/jackson-annotations-2.18.2.jar.sha1
  server/licenses/jackson-databind-2.18.2.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix DerivedFieldMapperQueryTests
  server/src/main/java/org/opensearch/index/mapper/DerivedFieldSupportedTypes.java
  server/src/main/java/org/opensearch/index/mapper/IpFieldMapper.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix SortedNumericDocValuesWriterWrapperTests
  server/src/test/java/org/opensearch/index/codec/composite/SortedNumericDocValuesWriterWrapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Comment and code cleanup
  server/src/internalClusterTest/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPluginIT.java
  server/src/main/java/org/opensearch/accesscontrol/resources/CreatedBy.java
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceAccessScope.java
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceService.java
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceSharing.java
  server/src/main/java/org/opensearch/accesscontrol/resources/ShareWith.java
  server/src/main/java/org/opensearch/accesscontrol/resources/SharedWithScope.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPlugin.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/package-info.java
  server/src/main/java/org/opensearch/accesscontrol/resources/package-info.java
  server/src/main/java/org/opensearch/plugins/ResourceAccessControlPlugin.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ResourceServiceTests.java
  server/src/test/java/org/opensearch/accesscontrol/resources/ShareWithTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixes tests
  server/src/test/java/org/opensearch/accesscontrol/resources/CreatedByTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix IpRangeAggregatorTests
  server/src/main/java/org/opensearch/search/aggregations/bucket/range/BinaryRangeAggregator.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix IpFieldMapperTests
  server/src/test/java/org/opensearch/index/mapper/IpFieldMapperTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Rename shardId to shardOrdinal for clarity
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fix
  server/src/main/java/org/opensearch/action/search/SearchPhaseController.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
