Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied, @cwperks

.github/CODEOWNERS:

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @opensearch-project/opensearch-core-maintainers

/modules/lang-painless/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @opensearch-project/opensearch-core-maintainers @peternied

/plugins/identity-shiro/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks

/server/src/internalClusterTest/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @opensearch-project/opensearch-core-maintainers @peternied
/server/src/main/java/org/opensearch/identity/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks 
/server/src/main/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @opensearch-project/opensearch-core-maintainers @peternied

/server/src/test/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied

/MAINTAINERS.md @opensearch-project/opensearch-core-maintainers

Fix: spotless apply
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

added multi-step create-index
  server/build.gradle
  server/src/main/java/org/opensearch/cluster/AckedClusterStateUpdateTask.java
  server/src/main/java/org/opensearch/cluster/ClusterChangedEvent.java
  server/src/main/java/org/opensearch/cluster/ClusterState.java
  server/src/main/java/org/opensearch/cluster/ClusterStateTaskExecutor.java
  server/src/main/java/org/opensearch/cluster/ClusterStateUpdateTask.java
  server/src/main/java/org/opensearch/cluster/action/shard/ShardStateAction.java
  server/src/main/java/org/opensearch/cluster/coordination/ClusterStatePublisher.java
  server/src/main/java/org/opensearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/opensearch/cluster/coordination/IndexMetadataPersistenceService.java
  server/src/main/java/org/opensearch/cluster/coordination/PublicationTransportHandler.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/opensearch/cluster/metadata/RemoteMetadataRef.java
  server/src/main/java/org/opensearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/opensearch/cluster/service/MasterService.java
Owners: @opensearch-project/opensearch-core-maintainers

S3BlobContainer Refactor
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/S3BlobContainer.java
Owners: @opensearch-project/opensearch-core-maintainers

AsyncTransferManager Refactor
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/async/AsyncTransferManager.java
Owners: @opensearch-project/opensearch-core-maintainers

removed stale_primary_shard : generic rewording
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/S3BlobStoreContainerTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Add IT test for warm node disk threshold monitor
  server/src/internalClusterTest/java/org/opensearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/DiskThresholdEvaluator.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/HotNodeDiskThresholdEvaluator.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/WarmNodeDiskThresholdEvaluator.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/decider/WarmDiskThresholdDecider.java
Owners: @opensearch-project/opensearch-core-maintainers

Fixing few of the Flaky tests related to derived source tests
  server/src/internalClusterTest/java/org/opensearch/recovery/FullRollingRestartIT.java
  server/src/internalClusterTest/java/org/opensearch/recovery/RecoveryWhileUnderLoadIT.java
  server/src/test/java/org/opensearch/common/lucene/index/DerivedSourceLeafReaderTests.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add FS Health Check Failure Metric (#18435)
  CHANGELOG.md
  server/src/main/java/org/opensearch/monitor/fs/FsHealthService.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/test/java/org/opensearch/monitor/fs/FsHealthServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

gradlew spotless fix
  server/src/internalClusterTest/java/org/opensearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
Owners: @opensearch-project/opensearch-core-maintainers

[Cleanup] Remove upgrade-cli tool and related build references
  .github/dependabot.yml
  distribution/build.gradle
  distribution/src/bin/opensearch-upgrade
  distribution/src/bin/opensearch-upgrade.bat
  distribution/tools/upgrade-cli/build.gradle
  distribution/tools/upgrade-cli/licenses/jackson-LICENSE
  distribution/tools/upgrade-cli/licenses/jackson-NOTICE
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.18.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.18.2.jar.sha1
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/DetectEsInstallationTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/ImportJvmOptionsTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/ImportKeystoreTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/ImportLog4jPropertiesTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/ImportYmlConfigTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/InstallPluginsTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/KeystoreWrapperUtil.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/TaskInput.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/UpgradeCli.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/UpgradeTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/ValidateInputTask.java
  distribution/tools/upgrade-cli/src/main/java/org/opensearch/tools/cli/upgrade/package-info.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/DetectEsInstallationTaskTests.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/ImportLog4jPropertiesTaskTests.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/ImportYmlConfigTaskTests.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/InstallPluginsTaskTests.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/UpgradeCliTests.java
  distribution/tools/upgrade-cli/src/test/java/org/opensearch/tools/cli/upgrade/ValidateInputTaskTests.java
  distribution/tools/upgrade-cli/src/test/resources/config/elasticsearch.keystore
  distribution/tools/upgrade-cli/src/test/resources/config/elasticsearch.yml
  distribution/tools/upgrade-cli/src/test/resources/config/jvm.options.d/test.options
  distribution/tools/upgrade-cli/src/test/resources/config/log4j2.properties
  settings.gradle
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied

Update warning headers
  plugins/examples/mapping-transformer/src/yamlRestTest/resources/rest-api-spec/test/example-mapping-transformer/20_mapping_transformer.yml
Owners: @opensearch-project/opensearch-core-maintainers

Resolve comments
  server/src/main/java/org/opensearch/cluster/routing/allocation/DiskThresholdMonitor.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/NodeDiskEvaluator.java
Owners: @opensearch-project/opensearch-core-maintainers

cleanup
  server/src/test/java/org/opensearch/index/query/BoolQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Support system ingest pipelines for bulk update operations (#18277)
  CHANGELOG.md
  plugins/examples/mapping-transformer/src/yamlRestTest/resources/rest-api-spec/test/example-mapping-transformer/20_mapping_transformer.yml
  plugins/examples/system-ingest-processor/src/test/java/org/opensearch/example/systemingestprocessor/ExampleSystemIngestProcessorTests.java
  plugins/examples/system-ingest-processor/src/yamlRestTest/resources/rest-api-spec/test/example-system-ingest-processor/20_system_ingest_processor.yml
  server/src/main/java/org/opensearch/action/bulk/TransportBulkAction.java
  server/src/main/java/org/opensearch/action/update/UpdateRequest.java
  server/src/main/java/org/opensearch/ingest/AbstractBatchingSystemProcessor.java
  server/src/main/java/org/opensearch/ingest/CompoundProcessor.java
  server/src/main/java/org/opensearch/ingest/IndexRequestWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestDocumentWrapper.java
  server/src/main/java/org/opensearch/ingest/IngestService.java
  server/src/main/java/org/opensearch/ingest/Processor.java
  server/src/main/java/org/opensearch/ingest/SystemIngestPipelineCache.java
  server/src/test/java/org/opensearch/action/bulk/BulkRequestModifierTests.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIndicesThatCannotBeCreatedTests.java
  server/src/test/java/org/opensearch/action/bulk/TransportBulkActionIngestTests.java
  server/src/test/java/org/opensearch/action/update/UpdateRequestTests.java
  server/src/test/java/org/opensearch/ingest/IngestDocumentPreparer.java
  server/src/test/java/org/opensearch/ingest/IngestDocumentWrapperTests.java
  server/src/test/java/org/opensearch/ingest/IngestServiceTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Fixing few of the Flaky tests related to derived source tests
  server/src/internalClusterTest/java/org/opensearch/recovery/FullRollingRestartIT.java
  server/src/internalClusterTest/java/org/opensearch/recovery/RecoveryWhileUnderLoadIT.java
  server/src/test/java/org/opensearch/common/lucene/index/DerivedSourceLeafReaderTests.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

bug fix for update rule api (#18488)
  CHANGELOG.md
  modules/autotagging-commons/common/src/main/java/org/opensearch/rule/RuleUtils.java
  modules/autotagging-commons/common/src/test/java/org/opensearch/rule/RuleUtilsTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Revert "Switch percentiles implementation to MergingDigest (#18124)"
  gradle/libs.versions.toml
  server/src/main/java/org/opensearch/search/aggregations/metrics/InternalMedianAbsoluteDeviation.java
  server/src/main/java/org/opensearch/search/aggregations/metrics/TDigestState.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/InternalTDigestPercentilesRanksTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/InternalTDigestPercentilesTests.java
  server/src/test/java/org/opensearch/search/aggregations/metrics/TDigestPercentilesAggregatorTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

changelog
  CHANGELOG.md
Owners: @opensearch-project/opensearch-core-maintainers

Add must -> filter boolean rewrite
  server/src/internalClusterTest/java/org/opensearch/search/query/BooleanQueryIT.java
  server/src/main/java/org/opensearch/index/query/BoolQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/BoolQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

address comments
  server/src/main/java/org/opensearch/search/DefaultSearchContext.java
  server/src/main/java/org/opensearch/search/aggregations/AggregatorBase.java
  server/src/main/java/org/opensearch/search/aggregations/support/ValuesSource.java
  server/src/test/java/org/opensearch/search/aggregations/AggregatorCancellationTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixing few of the Flaky tests related to derived source tests (#18493)
  server/src/internalClusterTest/java/org/opensearch/recovery/FullRollingRestartIT.java
  server/src/internalClusterTest/java/org/opensearch/recovery/RecoveryWhileUnderLoadIT.java
  server/src/test/java/org/opensearch/common/lucene/index/DerivedSourceLeafReaderTests.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

disable rewrite for bitmap or termslookup terms queries
  server/src/main/java/org/opensearch/index/query/TermsQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/TermsQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

spotless apply
  server/src/test/java/org/opensearch/index/query/TermsQueryBuilderTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add task cancellation check in aggregation code paths (#18426)
  CHANGELOG.md
  server/src/main/java/org/opensearch/search/aggregations/AggregatorBase.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/BucketsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/composite/CompositeAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/filter/FiltersAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/AbstractHistogramAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/DateRangeHistogramAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/VariableWidthHistogramAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/range/RangeAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/GlobalOrdinalsStringTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/LongRareTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/MapStringTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/MultiTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/NumericTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/bucket/terms/StringRareTermsAggregator.java
  server/src/main/java/org/opensearch/search/aggregations/support/ValuesSource.java
  server/src/test/java/org/opensearch/search/aggregations/AggregationSetupTests.java
  server/src/test/java/org/opensearch/search/aggregations/AggregatorCancellationTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix example system pipeline plugin flaky index template YAML test
  plugins/examples/system-ingest-processor/src/yamlRestTest/resources/rest-api-spec/test/example-system-ingest-processor/20_system_ingest_processor.yml
Owners: @opensearch-project/opensearch-core-maintainers

Activate Detect Breaking Changes Github Action since we have 3.0.0 baseline
  .github/workflows/detect-breaking-change.yml
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied

Fix example system pipeline plugin flaky index template YAML test (#18500)
  plugins/examples/system-ingest-processor/src/yamlRestTest/resources/rest-api-spec/test/example-system-ingest-processor/20_system_ingest_processor.yml
Owners: @opensearch-project/opensearch-core-maintainers

small change
  server/src/internalClusterTest/java/org/opensearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
Owners: @opensearch-project/opensearch-core-maintainers

Add Changelog
  CHANGELOG.md
Owners: @opensearch-project/opensearch-core-maintainers

Spotless fix
  server/src/internalClusterTest/java/org/opensearch/cluster/routing/allocation/decider/DiskThresholdDeciderIT.java
  server/src/main/java/org/opensearch/cluster/routing/allocation/NodeDiskEvaluator.java
Owners: @opensearch-project/opensearch-core-maintainers

Rewritten the logic using accumlator as proposed
  server/src/main/java/org/opensearch/common/metrics/MaxMetric.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/IndexingStats.java
  server/src/main/java/org/opensearch/index/shard/InternalIndexingStats.java
  server/src/main/java/org/opensearch/rest/action/cat/RestIndicesAction.java
  server/src/test/java/org/opensearch/index/shard/IndexingStatsTests.java
  server/src/test/java/org/opensearch/rest/action/cat/RestIndicesActionTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed precommit failures
  server/src/test/java/org/opensearch/index/shard/IndexingStatsTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Updated changelog.md
  CHANGELOG.md
Owners: @opensearch-project/opensearch-core-maintainers

Resolved comments. Fixed conflicts
  server/src/main/java/org/opensearch/index/shard/IndexingStats.java
  server/src/test/java/org/opensearch/index/shard/IndexingStatsTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

AsyncTransferManagerTests.java refactor
  plugins/repository-s3/src/main/java/org/opensearch/repositories/s3/async/AsyncTransferManager.java
  plugins/repository-s3/src/test/java/org/opensearch/repositories/s3/async/AsyncTransferManagerTests.java
Owners: @opensearch-project/opensearch-core-maintainers

Test case
  server/src/main/java/org/opensearch/index/shard/IndexingStats.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed test case
  server/src/main/java/org/opensearch/index/shard/IndexingStats.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fix terms query IT
  server/src/internalClusterTest/java/org/opensearch/search/query/BooleanQueryIT.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Document GRPC settings and default values in README
  plugins/transport-grpc/README.md
Owners: @opensearch-project/opensearch-core-maintainers

Project Code Coverage
  TESTING.md
  gradle/code-coverage.gradle
Owners: @opensearch-project/opensearch-core-maintainers
