Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

fix case insensitive and escaped query on wildcard
  rest-api-spec/src/main/resources/rest-api-spec/test/search/270_wildcard_fieldtype_queries.yml
  server/src/main/java/org/opensearch/index/mapper/WildcardFieldMapper.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

add changelog
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update opensearch.release-notes-1.3.20.md (#16825)
  release-notes/opensearch.release-notes-1.3.20.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds concrete implementation of getResources in Noop RAC plugin
  server/src/main/java/org/opensearch/plugins/NoOpResourceAccessControlPlugin.java
  server/src/main/java/org/opensearch/plugins/ResourceAccessControlPlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added unit test for unmapped fields
  server/src/main/java/org/opensearch/search/aggregations/support/ValuesSourceAggregatorFactory.java
  server/src/test/java/org/opensearch/search/aggregations/startree/MetricAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeFilterTests.java
  test/framework/src/main/java/org/opensearch/search/aggregations/AggregatorTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

Removed unused test case
  server/src/test/java/org/opensearch/search/aggregations/startree/MetricAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeFilterTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Removed unused test case
  server/src/main/java/org/opensearch/search/aggregations/support/ValuesSourceAggregatorFactory.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Incremented version to 1.3.21
  .ci/bwcVersions
  buildSrc/version.properties
  server/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added bwc version 1.3.21
  .ci/bwcVersions
  server/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed failing integ test
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Spotless Applied
  test/framework/src/main/java/org/opensearch/search/aggregations/AggregatorTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixed spotless again
  server/src/test/java/org/opensearch/search/aggregations/startree/MetricAggregatorTests.java
  server/src/test/java/org/opensearch/search/aggregations/startree/StarTreeFilterTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fixing _list/shards API for closed indices (#16606)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/shards/TransportCatShardsActionIT.java
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportCatShardsAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add more rest tests
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_double.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_long.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/260_sort_unsigned_long.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/280_unsigned_long.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search/290_long.yml
  test/framework/src/main/java/org/opensearch/test/rest/yaml/section/MatchAssertion.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fix
  test/framework/src/main/java/org/opensearch/test/rest/yaml/section/MatchAssertion.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fixed some comments for PR
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/main/java/org/opensearch/index/SegmentReplicationShardStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

fixed failing tests
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/main/java/org/opensearch/index/SegmentReplicationShardStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Added support for search replica to return segrep stats (#16678)
  CHANGELOG.md
  server/src/internalClusterTest/java/org/opensearch/indices/replication/SearchReplicaReplicationIT.java
  server/src/main/java/org/opensearch/action/admin/indices/replication/TransportSegmentReplicationStatsAction.java
  server/src/test/java/org/opensearch/action/admin/indices/replication/TransportSegmentReplicationStatsActionTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Create sub directories for ThirdPartyAudit dependency matadata
  buildSrc/src/main/java/org/opensearch/gradle/precommit/ThirdPartyAuditTask.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add verbose pipeline parameter to output each processor's execution details
  server/src/main/java/org/opensearch/action/search/SearchResponse.java
  server/src/main/java/org/opensearch/action/search/SearchResponseSections.java
  server/src/main/java/org/opensearch/rest/action/search/RestSearchAction.java
  server/src/main/java/org/opensearch/search/SearchHits.java
  server/src/main/java/org/opensearch/search/builder/SearchSourceBuilder.java
  server/src/main/java/org/opensearch/search/internal/InternalSearchResponse.java
  server/src/main/java/org/opensearch/search/pipeline/Pipeline.java
  server/src/main/java/org/opensearch/search/pipeline/PipelineProcessingContext.java
  server/src/main/java/org/opensearch/search/pipeline/ProcessorExecutionDetail.java
  server/src/test/java/org/opensearch/action/search/SearchResponseTests.java
  server/src/test/java/org/opensearch/search/GenericSearchExtBuilderTests.java
  server/src/test/java/org/opensearch/search/builder/SearchSourceBuilderTests.java
  server/src/test/java/org/opensearch/search/pipeline/SearchPipelineServiceTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

add change log
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add merge missing change log
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add missing line
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix StarTree*DocValueFormatTests
  server/src/main/java/org/opensearch/index/codec/composite/composite912/Composite912DocValuesReader.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix various MultiTermQuery-related tests
  server/src/main/java/org/opensearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/opensearch/index/query/MultiMatchQueryBuilder.java
  server/src/main/java/org/opensearch/index/search/SimpleQueryStringQueryParser.java
  server/src/test/java/org/opensearch/index/mapper/IgnoredFieldTypeTests.java
  server/src/test/java/org/opensearch/index/mapper/KeywordFieldTypeTests.java
  server/src/test/java/org/opensearch/index/mapper/TextFieldTypeTests.java
  server/src/test/java/org/opensearch/index/query/SimpleQueryStringBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix Flaky Test SearchTimeoutIT.testSimpleTimeout
  server/src/internalClusterTest/java/org/opensearch/search/SearchTimeoutIT.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Updates the ResourceAccessControlPlugin to have noop actions, renames noopRACplugin to defaultRACplugin since we now list all accessible resources and updates comments
  server/src/main/java/org/opensearch/accesscontrol/resources/ResourceService.java
  server/src/main/java/org/opensearch/accesscontrol/resources/fallback/DefaultResourceAccessControlPlugin.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/main/java/org/opensearch/plugins/NoOpResourceAccessControlPlugin.java
  server/src/main/java/org/opensearch/plugins/ResourceAccessControlPlugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Adds ReflectPermissions for DefaultResourceAccessControlPlugin
  server/src/main/resources/org/opensearch/bootstrap/security.policy
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add listenable TransportRequestHandler in TransportNodesAction
  server/src/main/java/org/opensearch/action/support/nodes/TransportNodesAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add UT for listenable transport request handler
  CHANGELOG.md
  server/src/test/java/org/opensearch/action/support/nodes/TransportNodesActionTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

introduce a setting to disable full cluster state from remote on term mismatch
  CHANGELOG.md
  server/src/main/java/org/opensearch/action/support/clustermanager/term/TransportGetTermVersionAction.java
  server/src/main/java/org/opensearch/cluster/coordination/Coordinator.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/main/java/org/opensearch/gateway/remote/RemoteClusterStateService.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added bwc version 1.3.21
  .ci/bwcVersions
  server/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Added bwc version 1.3.21
  .ci/bwcVersions
  libs/core/src/main/java/org/opensearch/Version.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Handle version during repository registration for prefix mode verification
  server/src/main/java/org/opensearch/cluster/service/ClusterApplierService.java
  server/src/main/java/org/opensearch/cluster/service/ClusterService.java
  server/src/main/java/org/opensearch/repositories/blobstore/BlobStoreRepository.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Refactor ProcessorExecutionDetail to improve field handling
  server/src/main/java/org/opensearch/action/search/SearchResponse.java
  server/src/main/java/org/opensearch/action/search/SearchResponseSections.java
  server/src/main/java/org/opensearch/search/pipeline/ProcessorExecutionDetail.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Move resolvePublishPort to NetworkService for plugin re-use
  server/src/main/java/org/opensearch/common/network/NetworkService.java
  server/src/main/java/org/opensearch/http/AbstractHttpServerTransport.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add gRPC server as transport-grpc plugin
  gradle/forbidden-dependencies.gradle
  gradle/libs.versions.toml
  plugins/discovery-gce/licenses/grpc-api-1.68.0.jar.sha1
  plugins/discovery-gce/licenses/grpc-api-1.68.2.jar.sha1
  plugins/repository-gcs/licenses/grpc-api-1.68.0.jar.sha1
  plugins/repository-gcs/licenses/grpc-api-1.68.2.jar.sha1
  plugins/transport-grpc/build.gradle
  plugins/transport-grpc/licenses/error_prone_annotations-2.24.1.jar.sha1
  plugins/transport-grpc/licenses/error_prone_annotations-LICENSE.txt
  plugins/transport-grpc/licenses/error_prone_annotations-NOTICE.txt
  plugins/transport-grpc/licenses/failureaccess-1.0.1.jar.sha1
  plugins/transport-grpc/licenses/failureaccess-LICENSE.txt
  plugins/transport-grpc/licenses/failureaccess-NOTICE.txt
  plugins/transport-grpc/licenses/grpc-LICENSE.txt
  plugins/transport-grpc/licenses/grpc-NOTICE.txt
  plugins/transport-grpc/licenses/grpc-api-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-core-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-netty-shaded-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-protobuf-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-protobuf-lite-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-services-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-stub-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/grpc-util-1.68.2.jar.sha1
  plugins/transport-grpc/licenses/guava-33.2.1-jre.jar.sha1
  plugins/transport-grpc/licenses/guava-LICENSE.txt
  plugins/transport-grpc/licenses/guava-NOTICE.txt
  plugins/transport-grpc/licenses/perfmark-api-0.26.0.jar.sha1
  plugins/transport-grpc/licenses/perfmark-api-LICENSE.txt
  plugins/transport-grpc/licenses/perfmark-api-NOTICE.txt
  plugins/transport-grpc/src/internalClusterTest/java/org/opensearch/transport/grpc/OpenSearchGrpcIntegTestCase.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/GrpcModulePlugin.java
  plugins/transport-grpc/src/main/java/org/opensearch/transport/grpc/Netty4GrpcServerTransport.java
  plugins/transport-grpc/src/main/plugin-metadata/plugin-security.policy
  plugins/transport-grpc/src/test/java/org/opensearch/transport/grpc/Netty4GrpcServerTransportTests.java
  server/src/main/java/org/opensearch/bootstrap/Security.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/main/java/org/opensearch/common/settings/FeatureFlagSettings.java
  server/src/main/java/org/opensearch/common/util/FeatureFlags.java
  server/src/main/java/org/opensearch/grpc/GrpcTransportSettings.java
  server/src/test/java/org/opensearch/http/AbstractHttpServerTransportTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Remove IntegTestCase definition. Unused.
  plugins/transport-grpc/build.gradle
  plugins/transport-grpc/src/internalClusterTest/java/org/opensearch/transport/grpc/OpenSearchGrpcIntegTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update guava license sha
  plugins/transport-grpc/licenses/guava-32.1.1-jre.jar.sha1
  plugins/transport-grpc/licenses/guava-33.2.1-jre.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix Spotless
  server/src/main/java/org/opensearch/index/query/FuzzyQueryBuilder.java
  server/src/main/java/org/opensearch/index/query/MultiMatchQueryBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
