Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326, @peternied, @gaobinlong

`phone-search` analyzer: don't emit sip/tel prefix, int'l prefix, extension & unformatted input (#16993) (#17017)
  CHANGELOG.md
  plugins/analysis-phonenumber/src/main/java/org/opensearch/analysis/phone/PhoneNumberTermTokenizer.java
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
  plugins/analysis-phonenumber/src/yamlRestTest/resources/rest-api-spec/test/analysis-phone/20_search.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

improve `PhoneNumberAnalyzerTests#testTelPrefixSearch` (#17016)
  plugins/analysis-phonenumber/src/test/java/org/opensearch/analysis/phone/PhoneNumberAnalyzerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update version checks for backport
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/70_adjacency_matrix.yml
  server/src/main/java/org/opensearch/search/aggregations/bucket/adjacency/AdjacencyMatrixAggregationBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Address review comments
  server/src/test/java/org/opensearch/bootstrap/IdentityPluginTests.java
  server/src/test/java/org/opensearch/extensions/ExtensionsManagerTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Ensure that cancelled request returns
  server/src/main/java/org/opensearch/action/search/TransportMultiSearchAction.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add a changelog entry
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Bump 3.0.0 version with alpha qualifier
  buildSrc/version.properties
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Deprecate getTime field and add time field in GetStats for backward compatibility
  CHANGELOG.md
  server/src/main/java/org/opensearch/index/get/GetStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add forRemoval flag to getTime field for future removal
  server/src/main/java/org/opensearch/index/get/GetStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

add comment
  server/src/main/java/org/opensearch/index/mapper/FlatObjectFieldMapper.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix test
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/delete_by_query/50_wait_for_active_shards.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/60_wait_for_active_shards.yml
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/update_by_query/50_consistency.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add changelog
  CHANGELOG.md
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Using RemoteDirectory#delete to clear all segments during migration
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/store/RemoteSegmentStoreDirectory.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add runAs to client interface
  plugins/identity-shiro/src/main/java/org/opensearch/identity/shiro/ShiroIdentityPlugin.java
  plugins/identity-shiro/src/main/java/org/opensearch/identity/shiro/ShiroPluginSubject.java
  plugins/identity-shiro/src/test/java/org/opensearch/identity/shiro/ShiroIdentityPluginTests.java
  server/src/main/java/org/opensearch/client/Client.java
  server/src/main/java/org/opensearch/client/support/AbstractClient.java
  server/src/main/java/org/opensearch/identity/IdentityService.java
  server/src/main/java/org/opensearch/identity/PluginSubject.java
  server/src/main/java/org/opensearch/identity/RunAsSubjectClient.java
  server/src/main/java/org/opensearch/identity/Subject.java
  server/src/main/java/org/opensearch/identity/noop/NoopIdentityPlugin.java
  server/src/main/java/org/opensearch/identity/noop/NoopPluginSubject.java
  server/src/main/java/org/opensearch/node/Node.java
  server/src/main/java/org/opensearch/plugins/IdentityAwarePlugin.java
  server/src/main/java/org/opensearch/plugins/IdentityPlugin.java
  server/src/test/java/org/opensearch/action/ActionModuleTests.java
  server/src/test/java/org/opensearch/bootstrap/IdentityPluginTests.java
  server/src/test/java/org/opensearch/extensions/ExtensionsManagerTests.java
  server/src/test/java/org/opensearch/extensions/rest/ExtensionRestRequestTests.java
  server/src/test/java/org/opensearch/extensions/rest/RestInitializeExtensionActionTests.java
  server/src/test/java/org/opensearch/extensions/rest/RestSendToExtensionActionTests.java
  server/src/test/java/org/opensearch/identity/RunAsSubjectClientTests.java
Owners: @peternied, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Cleanup
  plugins/identity-shiro/src/test/java/org/opensearch/identity/shiro/ShiroIdentityPluginTests.java
  server/src/main/java/org/opensearch/identity/noop/NoopPluginSubject.java
  server/src/main/java/org/opensearch/node/Node.java
Owners: @peternied, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

More cleanup
  server/src/test/java/org/opensearch/bootstrap/IdentityPluginTests.java
  server/src/test/java/org/opensearch/identity/noop/NoopPluginSubjectTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

interim changes - integration with Auxiliary Transport
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchNode.java
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/RunTask.java
  modules/arrow-flight-rpc/src/internalClusterTest/java/org/opensearch/arrow/flight/ArrowFlightServerIT.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/BaseFlightStreamPlugin.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/FlightStreamPlugin.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/FlightServerInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodeFlightInfo.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoRequest.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/NodesFlightInfoResponse.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/api/TransportNodesFlightInfoAction.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightClientManager.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightService.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/FlightStreamPluginImpl.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/ServerComponents.java
  modules/arrow-flight-rpc/src/main/java/org/opensearch/arrow/flight/bootstrap/ServerConfig.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/FlightStreamPluginTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/api/FlightServerInfoActionTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/api/NodeFlightInfoTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/api/NodesFlightInfoRequestTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/api/NodesFlightInfoResponseTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/api/TransportNodesFlightInfoActionTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/FlightClientManagerTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/FlightServiceTests.java
  modules/arrow-flight-rpc/src/test/java/org/opensearch/arrow/flight/bootstrap/ServerConfigTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add testFilterRewriteWithTZRoundingRangeAssert() to reproduce auto date histo assertion bug per #16932
  server/src/test/java/org/opensearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
  test/framework/src/main/java/org/opensearch/search/aggregations/AggregatorTestCase.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jainankitk, @linuxpi

Update Reactor Netty to 1.1.26.Final
  gradle/libs.versions.toml
  plugins/repository-azure/licenses/reactor-netty-core-1.1.23.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-core-1.1.26.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-http-1.1.23.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-http-1.1.26.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-core-1.1.23.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-core-1.1.26.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-http-1.1.23.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-http-1.1.26.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix #16932. Ensure optimized path can only increase preparedRounding of agg.
  server/src/main/java/org/opensearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregator.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Spotless apply
  server/src/test/java/org/opensearch/search/aggregations/bucket/histogram/AutoDateHistogramAggregatorTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add tests to verify that subject is injected
  CHANGELOG.md
  server/src/main/java/org/opensearch/identity/RunAsSubjectClient.java
  server/src/test/java/org/opensearch/identity/RunAsSubjectClientTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied

Refactor QueryRewriteContext to interface
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/index/query/BaseQueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryShardContext.java
  server/src/main/java/org/opensearch/indices/IndicesService.java
  server/src/main/java/org/opensearch/search/SearchService.java
  server/src/main/java/org/opensearch/search/pipeline/PipelinedRequest.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Add Template Query
  plugins/ingest-attachment/build.gradle
  plugins/ingest-attachment/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/repository-azure/build.gradle
  plugins/repository-azure/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/repository-hdfs/licenses/commons-lang3-3.17.0.jar.sha1
  server/build.gradle
  server/licenses/commons-lang3-LICENSE.txt
  server/licenses/commons-lang3-NOTICE.txt
  server/licenses/commons-text-LICENSE.txt
  server/licenses/commons-text-NOTICE.txt
  server/src/main/java/org/opensearch/index/query/BaseQueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryBuilders.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/query/QueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/TemplateQueryBuilder.java
  server/src/main/java/org/opensearch/search/SearchModule.java
  server/src/main/java/org/opensearch/search/pipeline/PipelineProcessingContext.java
  server/src/test/java/org/opensearch/index/mapper/DateFieldTypeTests.java
  server/src/test/java/org/opensearch/index/query/RewriteableTests.java
  server/src/test/java/org/opensearch/index/query/TemplateQueryBuilderTests.java
  server/src/test/java/org/opensearch/search/SearchModuleTests.java
  server/src/test/java/org/opensearch/search/aggregations/AggregatorFactoriesTests.java
  server/src/test/java/org/opensearch/search/aggregations/bucket/FiltersTests.java
  server/src/test/java/org/opensearch/search/builder/SearchSourceBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Uploading SHAs files for licenses
  CHANGELOG.md
  plugins/repository-azure/licenses/commons-lang3-LICENSE.txt
  plugins/repository-azure/licenses/commons-lang3-NOTICE.txt
  plugins/repository-hdfs/licenses/commons-lang3-LICENSE.txt
  plugins/repository-hdfs/licenses/commons-lang3-NOTICE.txt
  server/licenses/commons-lang3-3.17.0.jar.sha1
  server/licenses/commons-text-1.10.0.jar.sha1
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

change exception handling
  server/src/main/java/org/opensearch/index/query/TemplateQueryBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

update exception
  distribution/tools/plugin-cli/build.gradle
  server/src/main/java/org/opensearch/index/query/BaseQueryRewriteContext.java
  server/src/main/java/org/opensearch/index/query/QueryCoordinatorContext.java
  server/src/main/java/org/opensearch/index/query/TemplateQueryBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Create constants file for identity constants
  server/src/main/java/org/opensearch/identity/IdentityConstants.java
  server/src/main/java/org/opensearch/identity/RunAsSubjectClient.java
Owners: @peternied

Use subject for header, not only the name
  server/src/main/java/org/opensearch/identity/RunAsSubjectClient.java
Owners: @peternied

Surround with subject.runAs
  server/src/main/java/org/opensearch/identity/RunAsSubjectClient.java
Owners: @peternied

Remove IdentityConstants
  server/src/main/java/org/opensearch/identity/IdentityConstants.java
Owners: @peternied

refactor code
  server/src/main/java/org/opensearch/search/builder/SearchSourceBuilder.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add SETTING_H2C_MAX_CONTENT_LENGTH to configure h2cMaxContentLength for reactor-netty4 transport
  plugins/transport-reactor-netty4/src/main/java/org/opensearch/http/reactor/netty4/ReactorNetty4HttpServerTransport.java
  plugins/transport-reactor-netty4/src/main/java/org/opensearch/transport/reactor/ReactorNetty4Plugin.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update Apache HttpCore5 to 5.3.2
  client/rest/licenses/httpcore5-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-5.3.2.jar.sha1
  client/rest/licenses/httpcore5-h2-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-h2-5.3.2.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.3.1.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.3.2.jar.sha1
  client/sniffer/licenses/httpcore5-5.3.1.jar.sha1
  client/sniffer/licenses/httpcore5-5.3.2.jar.sha1
  gradle/libs.versions.toml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Filter shards for sliced search at coordinator (#16771)
  CHANGELOG.md
  rest-api-spec/src/main/resources/rest-api-spec/api/search_shards.json
  rest-api-spec/src/main/resources/rest-api-spec/test/search_shards/20_slice.yml
  server/src/main/java/org/opensearch/action/admin/cluster/shards/ClusterSearchShardsRequest.java
  server/src/main/java/org/opensearch/action/admin/cluster/shards/TransportClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/action/fieldcaps/TransportFieldCapabilitiesIndexAction.java
  server/src/main/java/org/opensearch/action/search/TransportSearchAction.java
  server/src/main/java/org/opensearch/cluster/routing/OperationRouting.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterSearchShardsAction.java
  server/src/main/java/org/opensearch/search/slice/SliceBuilder.java
  server/src/test/java/org/opensearch/action/search/TransportSearchActionTests.java
  server/src/test/java/org/opensearch/cluster/routing/OperationRoutingTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

write replaceVariables without lang3
  distribution/tools/plugin-cli/build.gradle
  plugins/ingest-attachment/build.gradle
  plugins/ingest-attachment/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/ingest-attachment/licenses/commons-lang3-LICENSE.txt
  plugins/ingest-attachment/licenses/commons-lang3-NOTICE.txt
  plugins/repository-azure/build.gradle
  plugins/repository-azure/licenses/commons-lang3-3.14.0.jar.sha1
  plugins/repository-azure/licenses/commons-lang3-LICENSE.txt
  plugins/repository-azure/licenses/commons-lang3-NOTICE.txt
  plugins/repository-hdfs/licenses/commons-lang3-3.17.0.jar.sha1
  plugins/repository-hdfs/licenses/commons-lang3-LICENSE.txt
  plugins/repository-hdfs/licenses/commons-lang3-NOTICE.txt
  server/build.gradle
  server/licenses/commons-text-1.10.0.jar.sha1
  server/licenses/commons-text-LICENSE.txt
  server/licenses/commons-text-NOTICE.txt
  server/src/main/java/org/opensearch/index/query/TemplateQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/TemplateQueryBuilderTests.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @jed326

Changed to use field instead of humanReadableField for GET_TIME in JSON response
  server/src/main/java/org/opensearch/index/get/GetStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Add test to validate getTime and time fields in _stats API response
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.stats/60_time_fields.yml.yml
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Fix formatting in GetStats.java
  server/src/main/java/org/opensearch/index/get/GetStats.java
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Upgrade HttpCore5/HttpClient5 to support ExtendedSocketOption in HttpAsyncClient (#16757)
  CHANGELOG-3.0.md
  client/rest-high-level/src/test/resources/org/opensearch/bootstrap/test.policy
  client/rest/licenses/httpclient5-5.3.1.jar.sha1
  client/rest/licenses/httpclient5-5.4.1.jar.sha1
  client/rest/licenses/httpcore5-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-5.3.2.jar.sha1
  client/rest/licenses/httpcore5-h2-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-h2-5.3.2.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.2.5.jar.sha1
  client/rest/licenses/httpcore5-reactive-5.3.2.jar.sha1
  client/rest/src/test/java/org/opensearch/client/RestClientBuilderTests.java
  client/rest/src/test/java/org/opensearch/client/RestClientSingleHostIntegTests.java
  client/rest/src/test/java/org/opensearch/client/documentation/RestClientDocumentation.java
  client/sniffer/licenses/httpclient5-5.3.1.jar.sha1
  client/sniffer/licenses/httpclient5-5.4.1.jar.sha1
  client/sniffer/licenses/httpcore5-5.2.5.jar.sha1
  client/sniffer/licenses/httpcore5-5.3.2.jar.sha1
  gradle/libs.versions.toml
  plugins/repository-azure/licenses/reactor-netty-core-1.1.23.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-core-1.1.26.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-http-1.1.23.jar.sha1
  plugins/repository-azure/licenses/reactor-netty-http-1.1.26.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-core-1.1.23.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-core-1.1.26.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-http-1.1.23.jar.sha1
  plugins/transport-reactor-netty4/licenses/reactor-netty-http-1.1.26.jar.sha1
  plugins/transport-reactor-netty4/src/main/java/org/opensearch/http/reactor/netty4/ReactorNetty4HttpServerTransport.java
  plugins/transport-reactor-netty4/src/main/java/org/opensearch/transport/reactor/ReactorNetty4Plugin.java
  server/src/main/resources/org/opensearch/bootstrap/test-framework.policy
Owners: @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dblock, @dbwiddis, @gbbafna, @jainankitk, @kotwanikunal, @linuxpi, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

.github/CODEOWNERS:

# CODEOWNERS manages notifications, not PR approvals
# For PR approvals see /.github/workflows/maintainer-approval.yml

# Files have a single rule applied, the last match decides the owner
# If you would like to more specifically apply ownership, include existing owner in new sub fields

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jainankitk @kotwanikunal @linuxpi @mch2 @msfroh @nknize @owaiskazi19  @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/modules/lang-painless/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @peternied

/plugins/identity-shiro/ @peternied

/server/src/internalClusterTest/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @peternied
/server/src/main/java/org/opensearch/identity/ @peternied
/server/src/main/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @peternied

/server/src/test/java/org/opensearch/index/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @jed326 @peternied

/MAINTAINERS.md @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dblock @dbwiddis @gaobinlong @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @peternied @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
