Repository opensearch-project/OpenSearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah, @peternied, @cwperks

create init smoke test to run in FIPS JVM (#18376)
  gradle/missing-javadoc.gradle
  qa/fips-compliance/build.gradle
  qa/fips-compliance/src/javaRestTest/java/org/opensearch/qa/smoketest/FipsSmokeRandomnessIT.java
  qa/fips-compliance/src/javaRestTest/resources/rest-api-spec/api/randomness.get_provider_name.json
  qa/fips-compliance/src/main/java/org/opensearch/FipsSmokeTestPlugin.java
  qa/fips-compliance/src/main/java/org/opensearch/RandomnessProviderNameAction.java
Owners: @opensearch-project/opensearch-core-maintainers

fixed percolation query analyzer logic to check for DateRangeIncludingNowQuery
  modules/percolator/src/main/java/org/opensearch/percolator/QueryAnalyzer.java
Owners: @opensearch-project/opensearch-core-maintainers

updated DateFieldTypeTests to reflect new DateRangeIncludingNow query structure
  server/src/test/java/org/opensearch/index/mapper/DateFieldTypeTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

fix comment wording
  server/src/main/java/org/opensearch/index/query/BoolQueryBuilder.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

refactored date range query to use overloaded function and cleaned up percolation subquery visitor logic
  modules/percolator/src/main/java/org/opensearch/percolator/QueryAnalyzer.java
  server/src/test/java/org/opensearch/search/approximate/ApproximatePointRangeQueryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

cleaned up testApproximateVsExactQuery function signature
  server/src/test/java/org/opensearch/search/approximate/ApproximatePointRangeQueryTests.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Update from ASM to onepassword
  .github/workflows/publish-maven-snapshots.yml
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied

Update bundled JDK to JDK-24 (#18085)
  DEVELOPER_GUIDE.md
  gradle/libs.versions.toml
  libs/agent-sm/agent/src/main/java/org/opensearch/javaagent/Agent.java
  libs/agent-sm/agent/src/main/java/org/opensearch/javaagent/SubjectInterceptor.java
  libs/agent-sm/agent/src/test/java/org/opensearch/javaagent/SubjectTests.java
  plugins/repository-hdfs/build.gradle
  server/src/main/resources/org/opensearch/bootstrap/security.policy
Owners: @opensearch-project/opensearch-core-maintainers

Document GRPC settings and default values in README (#18506)
  plugins/transport-grpc/README.md
Owners: @opensearch-project/opensearch-core-maintainers

Extend approximation to other numeric types
  server/src/main/java/org/opensearch/index/mapper/NumberFieldMapper.java
  server/src/main/java/org/opensearch/search/approximate/ApproximatePointRangeQuery.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

reuse slot objects for lookups
  server/src/main/java/org/opensearch/search/aggregations/bucket/composite/CompositeValuesCollectorQueue.java
Owners: @opensearch-project/opensearch-core-maintainers, @anasalkouz, @andrross, @ashking94, @Bukhtawar, @CEHENKLE, @cwperks, @dbwiddis, @gbbafna, @jed326, @kotwanikunal, @mch2, @msfroh, @nknize, @owaiskazi19, @reta, @Rishikesh1159, @sachinpkale, @saratvemulapalli, @shwetathareja, @sohami, @VachaShah

Use single quotes in reproduction command
  test/framework/src/main/java/org/opensearch/test/junit/listeners/ReproduceInfoPrinter.java
Owners: @opensearch-project/opensearch-core-maintainers

feat(server-common): Add JsonToJson Recommender as a utility function
  server/build.gradle
  server/licenses/jackson-annotations-2.18.2.jar.sha1
  server/licenses/jackson-databind-2.18.2.jar.sha1
  server/src/main/java/org/opensearch/common/util/JsonToJsonRecommender.java
  server/src/test/java/org/opensearch/common/util/JsonToJsonRecommenderTests.java
Owners: @opensearch-project/opensearch-core-maintainers

feat(server-common): Remove unused licenses
  distribution/tools/upgrade-cli/licenses/jackson-LICENSE
  distribution/tools/upgrade-cli/licenses/jackson-NOTICE
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.18.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-LICENSE
  modules/ingest-geoip/licenses/jackson-annotations-NOTICE
  modules/ingest-geoip/licenses/jackson-databind-2.18.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-LICENSE
  modules/ingest-geoip/licenses/jackson-databind-NOTICE
  plugins/arrow-flight-rpc/licenses/jackson-LICENSE
  plugins/arrow-flight-rpc/licenses/jackson-NOTICE
  plugins/arrow-flight-rpc/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/arrow-flight-rpc/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/crypto-kms/licenses/jackson-LICENSE
  plugins/crypto-kms/licenses/jackson-NOTICE
  plugins/crypto-kms/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/crypto-kms/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-LICENSE
  plugins/discovery-ec2/licenses/jackson-NOTICE
  plugins/discovery-ec2/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/ingestion-kafka/build.gradle
  plugins/ingestion-kinesis/licenses/jackson-LICENSE
  plugins/ingestion-kinesis/licenses/jackson-NOTICE
  plugins/ingestion-kinesis/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/ingestion-kinesis/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-azure/licenses/jackson-databind-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-LICENSE
  plugins/repository-s3/licenses/jackson-NOTICE
  plugins/repository-s3/licenses/jackson-annotations-2.18.2.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.18.2.jar.sha1
Owners: @opensearch-project/opensearch-core-maintainers

Add checkout
  .github/workflows/dependabot_pr.yml
Owners: @opensearch-project/opensearch-core-maintainers, @jed326, @peternied

Update changelog
  CHANGELOG.md
Owners: @opensearch-project/opensearch-core-maintainers

.github/CODEOWNERS:

# To verify changes of CODEOWNERS file
# In VSCode
#   1. Install extension https://marketplace.visualstudio.com/items?itemName=jasonnutter.vscode-codeowners
#   2. Go to a file
#   3. Use the command palette to run the CODEOWNERS: Show owners of current file command, which will display all code owners for the current file.

# Default ownership for all repo files
* @opensearch-project/opensearch-core-maintainers

/modules/lang-painless/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/parent-join/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/modules/transport-netty4/ @opensearch-project/opensearch-core-maintainers @peternied

/plugins/identity-shiro/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks

/server/src/internalClusterTest/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/internalClusterTest/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/server/src/main/java/org/opensearch/extensions/ @opensearch-project/opensearch-core-maintainers @peternied
/server/src/main/java/org/opensearch/identity/ @opensearch-project/opensearch-core-maintainers @peternied @cwperks 
/server/src/main/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/main/java/org/opensearch/threadpool/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied
/server/src/main/java/org/opensearch/transport/ @opensearch-project/opensearch-core-maintainers @peternied

/server/src/test/java/org/opensearch/index/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah
/server/src/test/java/org/opensearch/search/ @opensearch-project/opensearch-core-maintainers @anasalkouz @andrross @ashking94 @Bukhtawar @CEHENKLE @cwperks @dbwiddis @gbbafna @jed326 @kotwanikunal @mch2 @msfroh @nknize @owaiskazi19 @reta @Rishikesh1159 @sachinpkale @saratvemulapalli @shwetathareja @sohami @VachaShah

/.github/ @opensearch-project/opensearch-core-maintainers @jed326 @peternied

/MAINTAINERS.md @opensearch-project/opensearch-core-maintainers
