Repository opensearch-project/OpenSearch, pull requests merged in 2022-03, with the labels that each got.

#2262 [Remove] deprecated getMapping API from IndicesClient
  client/rest-high-level/src/main/java/org/opensearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/opensearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/test/java/org/opensearch/client/AbstractResponseTestCase.java
  client/rest-high-level/src/test/java/org/opensearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/opensearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/opensearch/client/indices/GetIndexResponseTests.java
  client/rest-high-level/src/test/java/org/opensearch/client/indices/GetIndexTemplatesResponseTests.java
  client/rest-high-level/src/test/java/org/opensearch/client/indices/GetMappingsResponseTests.java
  plugins/mapper-size/src/internalClusterTest/java/org/opensearch/index/mapper/size/SizeMappingIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get/11_basic_with_types.yml
  server/src/internalClusterTest/java/org/opensearch/action/admin/indices/create/CreateIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/action/admin/indices/get/GetIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/client/documentation/IndicesDocumentationIT.java
  server/src/internalClusterTest/java/org/opensearch/cluster/SimpleClusterStateIT.java
  server/src/internalClusterTest/java/org/opensearch/cluster/coordination/RareClusterStateIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/MetadataNodesIT.java
  server/src/internalClusterTest/java/org/opensearch/index/HiddenIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/index/mapper/DynamicMappingIT.java
  server/src/internalClusterTest/java/org/opensearch/index/mapper/MultiFieldsIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/IndicesOptionsIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/SimpleGetMappingsIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/main/java/org/opensearch/action/admin/indices/get/GetIndexResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/get/TransportGetIndexAction.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetMappingsResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/TransportGetMappingsAction.java
  server/src/main/java/org/opensearch/action/bulk/TransportShardBulkAction.java
  server/src/main/java/org/opensearch/action/support/master/info/ClusterInfoRequest.java
  server/src/main/java/org/opensearch/action/support/master/info/ClusterInfoRequestBuilder.java
  server/src/main/java/org/opensearch/cluster/metadata/MappingMetadata.java
  server/src/main/java/org/opensearch/cluster/metadata/Metadata.java
  server/src/main/java/org/opensearch/common/compress/CompressedXContent.java
  server/src/main/java/org/opensearch/index/mapper/DocumentMapper.java
  server/src/test/java/org/opensearch/action/admin/indices/get/GetIndexResponseTests.java
  server/src/test/java/org/opensearch/action/admin/indices/mapping/get/GetMappingsResponseTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataTests.java
  server/src/test/java/org/opensearch/index/mapper/FieldFilterMapperPluginTests.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchIntegTestCase.java
Labels: v2.0.0, non-issue, >breaking, Indexing & Search

#2300 Restore Java 8 compatibility for build tools.
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/opensearch/gradle/ResolveAllDependencies.java
  buildSrc/src/main/java/org/opensearch/gradle/LoggedExec.java
  buildSrc/src/main/java/org/opensearch/gradle/OpenSearchJavaPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/OpenSearchTestBasePlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/ReaperPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/ReaperService.java
  buildSrc/src/main/java/org/opensearch/gradle/docker/DockerSupportService.java
  buildSrc/src/main/java/org/opensearch/gradle/internal/InternalBwcGitPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/internal/InternalDistributionArchiveSetupPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/precommit/ForbiddenApisPrecommitPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/precommit/ValidateJsonNoKeywordsTask.java
  buildSrc/src/main/java/org/opensearch/gradle/test/DistroTestPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/test/rest/CopyRestApiTask.java
  buildSrc/src/main/java/org/opensearch/gradle/test/rest/CopyRestTestsTask.java
  buildSrc/src/main/java/org/opensearch/gradle/test/rest/RestResourcesPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchNode.java
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/TestClusterConfiguration.java
  buildSrc/src/main/java/org/opensearch/gradle/testfixtures/TestFixturesPlugin.java
  buildSrc/src/main/java/org/opensearch/gradle/transform/SymbolicLinkPreservingUntarTransform.java
  buildSrc/src/main/java/org/opensearch/gradle/util/GradleUtils.java
  buildSrc/src/main/java/org/opensearch/gradle/vagrant/VagrantBasePlugin.java
  buildSrc/src/test/java/org/opensearch/gradle/docker/DockerSupportServiceTests.java
Labels: v1.3.0, backport main

#2342 [Test-Failure] Mute TranslogPolicyIT
  qa/translog-policy/src/test/java/org/opensearch/upgrades/TranslogPolicyIT.java
Labels: >test-failure, v2.0.0, backwards-compatibility

#2264 [Backport 1.x] Install plugin command help (#2193)
  distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java
  distribution/tools/plugin-cli/src/test/java/org/opensearch/plugins/InstallPluginCommandTests.java
Labels: documentation, backport, Plugins, v1.3.0

#2221 Deprecate setting 'reindex.remote.whitelist' and introduce the alternative setting 'reindex.remote.allowlist'
  client/rest-high-level/build.gradle
  modules/reindex/build.gradle
  modules/reindex/src/main/java/org/opensearch/index/reindex/ReindexPlugin.java
  modules/reindex/src/main/java/org/opensearch/index/reindex/ReindexValidator.java
  modules/reindex/src/main/java/org/opensearch/index/reindex/TransportReindexAction.java
  modules/reindex/src/test/java/org/opensearch/index/reindex/ReindexFromRemoteWhitelistTests.java
  modules/reindex/src/test/java/org/opensearch/index/reindex/ReindexFromRemoteWithAuthTests.java
  modules/reindex/src/test/java/org/opensearch/index/reindex/ReindexRenamedSettingTests.java
  modules/reindex/src/test/java/org/opensearch/index/reindex/RetryTests.java
  modules/reindex/src/yamlRestTest/resources/rest-api-spec/test/reindex/20_validation.yml
Labels: enhancement, v2.0.0, documentation pending, backport 1.x

#2397 [Remove] include_type_name from HLRC
  client/rest-high-level/src/main/java/org/opensearch/client/IndicesClient.java
  client/rest-high-level/src/main/java/org/opensearch/client/IndicesRequestConverters.java
  client/rest-high-level/src/test/java/org/opensearch/client/IndicesClientIT.java
  client/rest-high-level/src/test/java/org/opensearch/client/IndicesRequestConvertersTests.java
  client/rest-high-level/src/test/java/org/opensearch/client/indices/rollover/RolloverResponseTests.java
  modules/percolator/src/test/resources/rest-api-spec/test/11_basic_with_types.yml
  qa/rolling-upgrade/src/test/resources/rest-api-spec/test/mixed_cluster/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/field_caps/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.create/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_template/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.put_template/11_basic_with_types.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.rollover/40_mapping.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/280_geohash_grid.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/search.aggregation/290_geotile_grid.yml
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/rollover/RolloverRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/template/get/GetIndexTemplatesResponse.java
  server/src/main/java/org/opensearch/rest/BaseRestHandler.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestCreateIndexAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestGetFieldMappingAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestGetIndexTemplateAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestGetIndicesAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestGetMappingAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestPutIndexTemplateAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestPutMappingAction.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestRolloverIndexAction.java
  server/src/test/java/org/opensearch/action/admin/indices/create/CreateIndexRequestTests.java
  server/src/test/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsResponseTests.java
  server/src/test/java/org/opensearch/action/admin/indices/rollover/RolloverRequestTests.java
  server/src/test/java/org/opensearch/action/admin/indices/template/get/GetIndexTemplatesResponseTests.java
  server/src/test/java/org/opensearch/rest/action/admin/indices/RestCreateIndexActionTests.java
  server/src/test/java/org/opensearch/rest/action/admin/indices/RestGetIndicesActionTests.java
  test/framework/src/main/java/org/opensearch/test/rest/yaml/ClientYamlTestExecutionContext.java
Labels: v2.0.0, >breaking, Indexing & Search

#2225 [Remove] TrimUnsafeCommit logic for legacy 6.x indexes
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchCluster.java
  qa/full-cluster-restart/src/test/java/org/opensearch/upgrades/FullClusterRestartIT.java
  qa/translog-policy/build.gradle
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/main/java/org/opensearch/index/store/Store.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
  test/framework/src/main/java/org/opensearch/test/rest/OpenSearchRestTestCase.java
Labels: v2.0.0, non-issue, Indexing & Search

#2400 [Remove] Multiple Types from IndexTemplateMetadata
  client/rest-high-level/src/test/java/org/opensearch/client/indices/GetIndexTemplatesResponseTests.java
  modules/percolator/src/main/java/org/opensearch/percolator/PercolateQueryBuilder.java
  modules/percolator/src/test/java/org/opensearch/percolator/CandidateQueryTests.java
  modules/percolator/src/test/java/org/opensearch/percolator/PercolatorFieldMapperTests.java
  plugins/mapper-size/src/internalClusterTest/java/org/opensearch/index/mapper/size/SizeMappingTests.java
  qa/full-cluster-restart/src/test/java/org/opensearch/upgrades/FullClusterRestartIT.java
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/20_missing_field.yml
  server/src/internalClusterTest/java/org/opensearch/action/admin/indices/create/CreateIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/cluster/coordination/RareClusterStateIT.java
  server/src/internalClusterTest/java/org/opensearch/document/DocumentActionsIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/GatewayIndexStateIT.java
  server/src/internalClusterTest/java/org/opensearch/index/mapper/MultiFieldsIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/index/shard/IndexShardIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/exists/types/TypesExistsIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/SimpleGetFieldMappingsIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/search/fields/SearchFieldsIT.java
  server/src/internalClusterTest/java/org/opensearch/search/query/SearchQueryIT.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexClusterStateUpdateRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsIndexRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/GetMappingsResponse.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/TransportGetFieldMappingsAction.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/get/TransportGetFieldMappingsIndexAction.java
  server/src/main/java/org/opensearch/action/admin/indices/rollover/MetadataRolloverService.java
  server/src/main/java/org/opensearch/action/admin/indices/template/post/TransportSimulateIndexTemplateAction.java
  server/src/main/java/org/opensearch/cluster/metadata/IndexTemplateMetadata.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataCreateIndexService.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/main/java/org/opensearch/index/mapper/DocumentMapper.java
  server/src/main/java/org/opensearch/index/mapper/MapperService.java
  server/src/main/java/org/opensearch/index/query/QueryShardContext.java
  server/src/main/java/org/opensearch/index/query/TypeQueryBuilder.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/termvectors/TermVectorsService.java
  server/src/main/java/org/opensearch/rest/action/admin/indices/RestGetFieldMappingAction.java
  server/src/test/java/org/opensearch/action/admin/indices/create/CreateIndexRequestTests.java
  server/src/test/java/org/opensearch/action/admin/indices/mapping/get/GetFieldMappingsResponseTests.java
  server/src/test/java/org/opensearch/action/admin/indices/rollover/RolloverRequestTests.java
  server/src/test/java/org/opensearch/cluster/ClusterStateTests.java
  server/src/test/java/org/opensearch/cluster/metadata/IndexTemplateMetadataTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataMappingServiceTests.java
  server/src/test/java/org/opensearch/cluster/metadata/ToAndFromJsonMetadataTests.java
  server/src/test/java/org/opensearch/index/mapper/AllFieldMapperTests.java
  server/src/test/java/org/opensearch/index/mapper/DocumentParserTests.java
  server/src/test/java/org/opensearch/index/mapper/FieldFilterMapperPluginTests.java
  server/src/test/java/org/opensearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/opensearch/index/mapper/UpdateMappingTests.java
  server/src/test/java/org/opensearch/index/query/TypeQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/shard/IndexShardTests.java
  server/src/test/java/org/opensearch/search/suggest/completion/GeoContextMappingTests.java
Labels: v2.0.0, >breaking, Indexing & Search

#2450 [Remove] types from Uid and remaining types/Uid from translog
  server/src/main/java/org/opensearch/index/engine/Engine.java
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/main/java/org/opensearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/opensearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/opensearch/index/fieldvisitor/FieldsVisitor.java
  server/src/main/java/org/opensearch/index/mapper/Uid.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/translog/Translog.java
  server/src/main/java/org/opensearch/search/fetch/FetchPhase.java
  server/src/main/java/org/opensearch/search/fetch/subphase/InnerHitsContext.java
  server/src/main/java/org/opensearch/search/fetch/subphase/InnerHitsPhase.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/opensearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/opensearch/index/translog/TranslogTests.java
  server/src/test/java/org/opensearch/indices/recovery/RecoverySourceHandlerTests.java
  test/framework/src/main/java/org/opensearch/index/engine/EngineTestCase.java
  test/framework/src/main/java/org/opensearch/index/engine/TranslogHandler.java
  test/framework/src/main/java/org/opensearch/index/shard/IndexShardTestCase.java
Labels: v2.0.0, Indexing & Search, durability

#2469 [Remove] type from TaskResults index and IndexMetadata.getMappings
  server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/node/tasks/TasksIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/GatewayIndexStateIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/MetadataNodesIT.java
  server/src/main/java/org/opensearch/action/index/IndexRequest.java
  server/src/main/java/org/opensearch/cluster/metadata/IndexMetadata.java
  server/src/main/java/org/opensearch/cluster/metadata/MappingMetadata.java
  server/src/main/java/org/opensearch/cluster/metadata/Metadata.java
  server/src/main/java/org/opensearch/index/mapper/MapperService.java
  server/src/main/java/org/opensearch/index/shard/StoreRecovery.java
  server/src/main/java/org/opensearch/tasks/TaskResultsService.java
  server/src/main/resources/org/opensearch/tasks/task-index-mapping.json
  server/src/test/java/org/opensearch/cluster/metadata/MetadataMappingServiceTests.java
Labels: v2.0.0, >breaking, Indexing & Search

#2460 [Remove] types based addMapping method from CreateIndexRequest and Builder
  server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/stats/ClusterStatsIT.java
  server/src/internalClusterTest/java/org/opensearch/action/admin/indices/get/GetIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/cluster/SpecificMasterNodesIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/GatewayIndexStateIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/RecoveryFromGatewayIT.java
  server/src/internalClusterTest/java/org/opensearch/get/GetActionIT.java
  server/src/internalClusterTest/java/org/opensearch/index/mapper/CopyToMapperIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/ConcurrentDynamicTemplateIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/mapping/UpdateMappingIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/memory/breaker/RandomExceptionCircuitBreakerIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/state/OpenCloseIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/stats/IndexStatsIT.java
  server/src/internalClusterTest/java/org/opensearch/routing/PartitionedRoutingIT.java
  server/src/internalClusterTest/java/org/opensearch/search/aggregations/bucket/DateHistogramIT.java
  server/src/internalClusterTest/java/org/opensearch/search/aggregations/bucket/TermsDocCountErrorIT.java
  server/src/internalClusterTest/java/org/opensearch/search/basic/SearchWithRandomExceptionsIT.java
  server/src/internalClusterTest/java/org/opensearch/search/basic/SearchWithRandomIOExceptionsIT.java
  server/src/internalClusterTest/java/org/opensearch/search/fetch/subphase/highlight/HighlighterSearchIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoFilterIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoShapeIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/LegacyGeoShapeIntegrationIT.java
  server/src/internalClusterTest/java/org/opensearch/search/morelikethis/MoreLikeThisIT.java
  server/src/internalClusterTest/java/org/opensearch/search/nested/SimpleNestedIT.java
  server/src/internalClusterTest/java/org/opensearch/search/query/SimpleQueryStringIT.java
  server/src/internalClusterTest/java/org/opensearch/search/slice/SearchSliceIT.java
  server/src/internalClusterTest/java/org/opensearch/search/sort/SimpleSortIT.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/indices/rollover/RolloverRequestBuilder.java
  server/src/test/java/org/opensearch/action/admin/indices/create/CreateIndexRequestTests.java
  server/src/test/java/org/opensearch/index/mapper/MapperServiceTests.java
  server/src/test/java/org/opensearch/search/geo/GeoShapeQueryTests.java
Labels: v2.0.0, >breaking, Indexing & Search

#2452 [Refactor] LuceneChangesSnapshot to use accurate ops history
  rest-api-spec/src/main/resources/rest-api-spec/test/indices.get_field_mapping/20_missing_field.yml
  server/src/internalClusterTest/java/org/opensearch/index/shard/IndexShardIT.java
  server/src/main/java/org/opensearch/index/engine/Engine.java
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/main/java/org/opensearch/index/engine/LuceneChangesSnapshot.java
  server/src/main/java/org/opensearch/index/engine/ReadOnlyEngine.java
  server/src/main/java/org/opensearch/index/shard/IndexShard.java
  server/src/main/java/org/opensearch/index/shard/PrimaryReplicaSyncer.java
  server/src/main/java/org/opensearch/indices/recovery/RecoverySourceHandler.java
  server/src/main/java/org/opensearch/indices/recovery/RecoveryTarget.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
  server/src/test/java/org/opensearch/index/engine/LuceneChangesSnapshotTests.java
  server/src/test/java/org/opensearch/index/replication/IndexLevelReplicationTests.java
  server/src/test/java/org/opensearch/indices/recovery/RecoveryTests.java
  test/framework/src/main/java/org/opensearch/index/engine/EngineTestCase.java
Labels: enhancement, Severity-Blocker, v2.0.0, durability

#2420 Override Default Distribution Download Url with Custom Distribution Url when it is passed from Plugin
  DEVELOPER_GUIDE.md
  buildSrc/src/main/java/org/opensearch/gradle/DistributionDownloadPlugin.java
  buildSrc/src/test/java/org/opensearch/gradle/DistributionDownloadPluginTests.java
Labels: Build Libraries & Interfaces, v2.0.0

#2486 adds trademark to README
  README.md
Labels: documentation, backport

#2488 [Unmute] IndexPrimaryRelocationIT.testPrimaryRelocationWhileIndexing
  server/src/internalClusterTest/java/org/opensearch/indices/recovery/IndexPrimaryRelocationIT.java
Labels: :test, v2.0.0, non-issue

#2497 [Remove] Type from PutIndexTemplateRequest and PITRB
  modules/mapper-extras/src/test/java/org/opensearch/index/query/RankFeatureQueryBuilderTests.java
  modules/percolator/src/internalClusterTest/java/org/opensearch/percolator/PercolatorQuerySearchIT.java
  modules/percolator/src/test/java/org/opensearch/percolator/PercolateQueryBuilderTests.java
  modules/percolator/src/test/java/org/opensearch/percolator/PercolateWithNestedQueryBuilderTests.java
  server/src/internalClusterTest/java/org/opensearch/document/AliasedIndexDocumentActionsIT.java
  server/src/internalClusterTest/java/org/opensearch/index/HiddenIndexIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/template/SimpleIndexTemplateIT.java
  server/src/internalClusterTest/java/org/opensearch/search/basic/TransportTwoNodesSearchIT.java
  server/src/internalClusterTest/java/org/opensearch/search/searchafter/SearchAfterIT.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/put/PutMappingRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/mapping/put/PutMappingRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/indices/rollover/RolloverRequestBuilder.java
  server/src/main/java/org/opensearch/action/admin/indices/template/put/PutIndexTemplateRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/template/put/PutIndexTemplateRequestBuilder.java
  server/src/test/java/org/opensearch/action/admin/indices/mapping/put/PutMappingRequestTests.java
  server/src/test/java/org/opensearch/index/mapper/RangeFieldQueryStringQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/query/MatchQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/query/NestedQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/query/QueryStringQueryBuilderTests.java
  server/src/test/java/org/opensearch/index/query/TermsSetQueryBuilderTests.java
  test/framework/src/main/java/org/opensearch/test/AbstractBuilderTestCase.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchSingleNodeTestCase.java
Labels: v2.0.0, >breaking, Indexing & Search

#2504 [Upgrade] ICU4j from 68.2 to 70.1
  buildSrc/version.properties
  plugins/analysis-icu/licenses/icu4j-68.2.jar.sha1
  plugins/analysis-icu/licenses/icu4j-70.1.jar.sha1
Labels: v2.0.0, non-issue, >upgrade

#2463 Deprecate setting 'cluster.initial_master_nodes' and introduce the alternative setting 'cluster.initial_cluster_manager_nodes'
  buildSrc/src/main/groovy/org/opensearch/gradle/test/ClusterFormationTasks.groovy
  buildSrc/src/main/java/org/opensearch/gradle/testclusters/OpenSearchCluster.java
  distribution/docker/docker-compose.yml
  distribution/src/config/opensearch.yml
  qa/remote-clusters/docker-compose.yml
  server/src/internalClusterTest/java/org/opensearch/discovery/ClusterDisruptionIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/RecoveryFromGatewayIT.java
  server/src/main/java/org/opensearch/bootstrap/BootstrapChecks.java
  server/src/main/java/org/opensearch/cluster/coordination/ClusterBootstrapService.java
  server/src/main/java/org/opensearch/cluster/coordination/ClusterFormationFailureHelper.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/test/java/org/opensearch/bootstrap/BootstrapChecksTests.java
  server/src/test/java/org/opensearch/cluster/coordination/ClusterBootstrapServiceRenamedSettingTests.java
  server/src/test/java/org/opensearch/cluster/coordination/ClusterBootstrapServiceTests.java
  server/src/test/java/org/opensearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  server/src/test/java/org/opensearch/indices/IndicesServiceCloseTests.java
  server/src/test/java/org/opensearch/snapshots/SnapshotResiliencyTests.java
  test/framework/src/main/java/org/opensearch/cluster/coordination/AbstractCoordinatorTestCase.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/OpenSearchSingleNodeTestCase.java
Labels: enhancement, v2.0.0, documentation pending

#2451 Deprecate setting 'cluster.service.slow_master_task_logging_threshold' and introduce the alternative setting 'cluster.service.slow_cluster_manager_task_logging_threshold'
  server/src/main/java/org/opensearch/cluster/service/MasterService.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/test/java/org/opensearch/cluster/service/MasterServiceRenamedSettingTests.java
  server/src/test/java/org/opensearch/cluster/service/MasterServiceTests.java
Labels: enhancement, v2.0.0, documentation pending

#2453 Deprecate setting 'cluster.no_master_block' and introduce the alternative setting 'cluster.no_cluster_manager_block'
  server/src/internalClusterTest/java/org/opensearch/cluster/NoMasterNodeIT.java
  server/src/internalClusterTest/java/org/opensearch/discovery/MasterDisruptionIT.java
  server/src/main/java/org/opensearch/cluster/coordination/NoMasterBlockService.java
  server/src/main/java/org/opensearch/common/settings/ClusterSettings.java
  server/src/test/java/org/opensearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/opensearch/cluster/coordination/NoMasterBlockServiceRenamedSettingTests.java
  server/src/test/java/org/opensearch/cluster/coordination/NoMasterBlockServiceTests.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
Labels: enhancement, v2.0.0, documentation pending

#2404 Add a new REST API endpoint 'GET _cat/cluster_manager' as the replacement of 'GET _cat/master'
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.cluster_manager.json
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.cluster_manager/10_basic.yml
  server/src/main/java/org/opensearch/rest/action/cat/RestMasterAction.java
Labels: enhancement, v2.0.0

#2435 Add request parameter 'cluster_manager_timeout' as the alternative for 'master_timeout', and deprecate 'master_timeout' - in CAT Nodes API
  rest-api-spec/src/main/resources/rest-api-spec/api/cat.nodes.json
  server/src/main/java/org/opensearch/rest/RestRequest.java
  server/src/main/java/org/opensearch/rest/action/cat/RestNodesAction.java
  server/src/test/java/org/opensearch/rest/RestRequestTests.java
  server/src/test/java/org/opensearch/rest/action/cat/RestNodesActionTests.java
Labels: enhancement, v2.0.0, documentation pending

#2437 Add a field 'discovered_cluster_manager' in 'GET Cluster Health' API that shows identical value with field 'discovered_master'
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.health/10_basic.yml
  server/src/main/java/org/opensearch/action/admin/cluster/health/ClusterHealthResponse.java
Labels: enhancement, v2.0.0, documentation pending, >breaking

#2438 Replace 'discovered_master' with 'discovered_cluster_manager' in 'GET Cat Health' API
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.health/10_basic.yml
  server/src/main/java/org/opensearch/rest/action/cat/RestHealthAction.java
Labels: enhancement, v2.0.0, documentation pending, >breaking

#2441 Replace 'master' with 'cluster_manager' in 'GET Cat Nodes' API
  distribution/docker/src/test/resources/rest-api-spec/test/11_nodes.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cat.nodes/10_basic.yml
  server/src/main/java/org/opensearch/rest/action/cat/RestNodesAction.java
Labels: enhancement, v2.0.0, documentation pending, >breaking

#2424 Add a new node role 'cluster_manager' as the alternative for 'master' role and deprecate 'master' role
  benchmarks/src/main/java/org/opensearch/benchmark/routing/allocation/Allocators.java
  client/rest/src/main/java/org/opensearch/client/Node.java
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.stats/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/nodes.info/10_basic.yml
  server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/stats/ClusterStatsIT.java
  server/src/internalClusterTest/java/org/opensearch/env/NodeEnvironmentIT.java
  server/src/main/java/org/opensearch/action/admin/cluster/stats/ClusterStatsNodes.java
  server/src/main/java/org/opensearch/cluster/node/DiscoveryNode.java
  server/src/main/java/org/opensearch/cluster/node/DiscoveryNodeRole.java
  server/src/main/java/org/opensearch/cluster/node/DiscoveryNodes.java
  server/src/main/java/org/opensearch/env/NodeEnvironment.java
  server/src/main/java/org/opensearch/node/NodeRoleSettings.java
  server/src/main/java/org/opensearch/repositories/RepositoriesService.java
  server/src/test/java/org/opensearch/action/admin/cluster/configuration/AddVotingConfigExclusionsRequestTests.java
  server/src/test/java/org/opensearch/action/admin/cluster/configuration/TransportAddVotingConfigExclusionsActionTests.java
  server/src/test/java/org/opensearch/action/admin/indices/shrink/TransportResizeActionTests.java
  server/src/test/java/org/opensearch/action/search/TransportMultiSearchActionTests.java
  server/src/test/java/org/opensearch/action/support/master/TransportMasterNodeActionTests.java
  server/src/test/java/org/opensearch/action/support/nodes/TransportNodesActionTests.java
  server/src/test/java/org/opensearch/cluster/ClusterChangedEventTests.java
  server/src/test/java/org/opensearch/cluster/coordination/ClusterBootstrapServiceTests.java
  server/src/test/java/org/opensearch/cluster/coordination/ClusterFormationFailureHelperTests.java
  server/src/test/java/org/opensearch/cluster/coordination/CoordinatorTests.java
  server/src/test/java/org/opensearch/cluster/coordination/NodeJoinTests.java
  server/src/test/java/org/opensearch/cluster/health/ClusterHealthAllocationTests.java
  server/src/test/java/org/opensearch/cluster/metadata/AutoExpandReplicasTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataCreateIndexServiceTests.java
  server/src/test/java/org/opensearch/cluster/metadata/TemplateUpgradeServiceTests.java
  server/src/test/java/org/opensearch/cluster/node/DiscoveryNodeRoleSettingTests.java
  server/src/test/java/org/opensearch/cluster/node/DiscoveryNodeRoleTests.java
  server/src/test/java/org/opensearch/cluster/node/DiscoveryNodeTests.java
  server/src/test/java/org/opensearch/cluster/node/DiscoveryNodesTests.java
  server/src/test/java/org/opensearch/cluster/routing/DelayedAllocationServiceTests.java
  server/src/test/java/org/opensearch/cluster/routing/OperationRoutingTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/AllocationCommandsTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/FailedNodeRoutingTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/decider/DiskThresholdDeciderTests.java
  server/src/test/java/org/opensearch/cluster/routing/allocation/decider/RestoreInProgressAllocationDeciderTests.java
  server/src/test/java/org/opensearch/env/NodeEnvironmentTests.java
  server/src/test/java/org/opensearch/env/NodeRepurposeCommandTests.java
  server/src/test/java/org/opensearch/gateway/ClusterStateUpdatersTests.java
  server/src/test/java/org/opensearch/gateway/GatewayMetaStatePersistedStateTests.java
  server/src/test/java/org/opensearch/indices/cluster/IndicesClusterStateServiceRandomUpdatesTests.java
  server/src/test/java/org/opensearch/node/NodeRoleSettingsTests.java
  server/src/test/java/org/opensearch/persistent/PersistentTasksClusterServiceTests.java
  server/src/test/java/org/opensearch/snapshots/SnapshotResiliencyTests.java
  server/src/test/java/org/opensearch/transport/SniffConnectionStrategyTests.java
  test/framework/src/main/java/org/opensearch/cluster/OpenSearchAllocationTestCase.java
  test/framework/src/main/java/org/opensearch/cluster/coordination/CoordinationStateTestCluster.java
  test/framework/src/main/java/org/opensearch/test/InternalTestCluster.java
  test/framework/src/main/java/org/opensearch/test/NodeRoles.java
  test/framework/src/test/java/org/opensearch/test/test/InternalTestClusterTests.java
Labels: enhancement, v2.0.0, documentation pending, >breaking

#2415 Add 'cluster_manager_node' into ClusterState Metric as an alternative to 'master_node'
  rest-api-spec/src/main/resources/rest-api-spec/api/cluster.reroute.json
  rest-api-spec/src/main/resources/rest-api-spec/api/cluster.state.json
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.reroute/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.reroute/20_response_filtering.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.state/10_basic.yml
  rest-api-spec/src/main/resources/rest-api-spec/test/cluster.state/20_filtering.yml
  server/src/main/java/org/opensearch/cluster/ClusterState.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterRerouteAction.java
  server/src/main/java/org/opensearch/rest/action/admin/cluster/RestClusterStateAction.java
  server/src/test/java/org/opensearch/action/admin/cluster/reroute/ClusterRerouteResponseTests.java
  server/src/test/java/org/opensearch/cluster/ClusterStateTests.java
Labels: enhancement, v2.0.0, documentation pending, >breaking

#2503 Use Hamcrest matchers and assertThat() in ReindexRenamedSettingTests
  modules/reindex/src/test/java/org/opensearch/index/reindex/ReindexRenamedSettingTests.java
Labels: :test, v2.0.0, non-issue

#2532 Fix bwcVersions after bumping version 1.3.1
  .ci/bwcVersions
  server/src/main/java/org/opensearch/Version.java
Labels: v2.0.0, non-issue, backwards-compatibility

#2429 ignore_malformed parameter on ip_range data_type throws mapper_parsing_exception
  server/src/main/java/org/opensearch/index/mapper/RangeFieldMapper.java
  server/src/test/java/org/opensearch/index/mapper/IpRangeFieldMapperTests.java
Labels: bug, v2.0.0, Indexing & Search

#2531 [Unmute] NumberFieldTypeTests
  server/src/test/java/org/opensearch/index/mapper/NumberFieldTypeTests.java
Labels: :test, v2.0.0, non-issue

#2548 [CVE-2020-36518] Move Jackson-databind to 2.13.2
  buildSrc/version.properties
  client/sniffer/licenses/jackson-core-2.12.6.jar.sha1
  client/sniffer/licenses/jackson-core-2.13.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.12.6.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-annotations-2.13.2.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.12.6.jar.sha1
  distribution/tools/upgrade-cli/licenses/jackson-databind-2.13.2.jar.sha1
  libs/x-content/licenses/jackson-core-2.12.6.jar.sha1
  libs/x-content/licenses/jackson-core-2.13.2.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.12.6.jar.sha1
  libs/x-content/licenses/jackson-dataformat-cbor-2.13.2.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.12.6.jar.sha1
  libs/x-content/licenses/jackson-dataformat-smile-2.13.2.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.12.6.jar.sha1
  libs/x-content/licenses/jackson-dataformat-yaml-2.13.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-2.12.6.jar.sha1
  modules/ingest-geoip/licenses/jackson-annotations-2.13.2.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-2.12.6.jar.sha1
  modules/ingest-geoip/licenses/jackson-databind-2.13.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-annotations-2.12.6.jar.sha1
  plugins/discovery-ec2/licenses/jackson-annotations-2.13.2.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.12.6.jar.sha1
  plugins/discovery-ec2/licenses/jackson-databind-2.13.2.jar.sha1
  plugins/repository-azure/licenses/jackson-annotations-2.12.6.jar.sha1
  plugins/repository-azure/licenses/jackson-annotations-2.13.2.jar.sha1
  plugins/repository-azure/licenses/jackson-databind-2.12.6.jar.sha1
  plugins/repository-azure/licenses/jackson-databind-2.13.2.jar.sha1
  plugins/repository-azure/licenses/jackson-dataformat-xml-2.12.6.jar.sha1
  plugins/repository-azure/licenses/jackson-dataformat-xml-2.13.2.jar.sha1
  plugins/repository-azure/licenses/jackson-datatype-jsr310-2.12.6.jar.sha1
  plugins/repository-azure/licenses/jackson-datatype-jsr310-2.13.2.jar.sha1
  plugins/repository-azure/licenses/jackson-module-jaxb-annotations-2.12.6.jar.sha1
  plugins/repository-azure/licenses/jackson-module-jaxb-annotations-2.13.2.jar.sha1
  plugins/repository-hdfs/licenses/jackson-databind-2.12.6.jar.sha1
  plugins/repository-hdfs/licenses/jackson-databind-2.13.2.jar.sha1
  plugins/repository-s3/licenses/jackson-annotations-2.12.6.jar.sha1
  plugins/repository-s3/licenses/jackson-annotations-2.13.2.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.12.6.jar.sha1
  plugins/repository-s3/licenses/jackson-databind-2.13.2.jar.sha1
Labels: v2.0.0, >upgrade, dependencies

#2516 Support for geo_distance queries on geo_shape fields
  server/src/internalClusterTest/java/org/opensearch/search/geo/AbstractGeoDistanceIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoDistanceQueryGeoPointsIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoDistanceQueryGeoShapesIT.java
  server/src/main/java/org/opensearch/index/query/GeoDistanceQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/GeoDistanceQueryBuilderTests.java
Labels: enhancement, v2.0.0, Indexing & Search

#2510 [Remove] Types from PutIndexTemplateRequest and builder to reduce mapping to a string
  server/src/internalClusterTest/java/org/opensearch/cluster/SimpleClusterStateIT.java
  server/src/internalClusterTest/java/org/opensearch/gateway/RecoveryFromGatewayIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/template/IndexTemplateBlocksIT.java
  server/src/internalClusterTest/java/org/opensearch/indices/template/SimpleIndexTemplateIT.java
  server/src/internalClusterTest/java/org/opensearch/snapshots/RestoreSnapshotIT.java
  server/src/internalClusterTest/java/org/opensearch/snapshots/SnapshotCustomPluginStateIT.java
  server/src/main/java/org/opensearch/action/admin/indices/template/put/PutIndexTemplateRequest.java
  server/src/main/java/org/opensearch/action/admin/indices/template/put/PutIndexTemplateRequestBuilder.java
  server/src/main/java/org/opensearch/cluster/metadata/MetadataIndexTemplateService.java
  server/src/test/java/org/opensearch/action/admin/indices/template/put/PutIndexTemplateRequestTests.java
  server/src/test/java/org/opensearch/cluster/metadata/MetadataIndexTemplateServiceTests.java
Labels: v2.0.0, non-issue, >breaking, Indexing & Search

#2541 Updating repository commons logging version
  plugins/repository-hdfs/build.gradle
Labels: v2.0.0, dependencies

#2506 Support for geo_bounding_box queries on geo_shape fields
  server/src/internalClusterTest/java/org/opensearch/search/geo/AbstractGeoBoundingBoxQueryIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoBoundingBoxQueryGeoPointsIT.java
  server/src/internalClusterTest/java/org/opensearch/search/geo/GeoBoundingBoxQueryGeoShapesIT.java
  server/src/main/java/org/opensearch/index/query/GeoBoundingBoxQueryBuilder.java
  server/src/test/java/org/opensearch/index/query/GeoBoundingBoxQueryBuilderTests.java
Labels: enhancement, v2.0.0, Indexing & Search

#2560 [Upgrade] Lucene 9.1 release
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-9.1.0-snapshot-ea989fe8f30.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.1.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.1.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.1.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.1.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.1.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.1.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.1.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.1.0.jar.sha1
  server/licenses/lucene-analysis-common-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-analysis-common-9.1.0.jar.sha1
  server/licenses/lucene-backward-codecs-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-backward-codecs-9.1.0.jar.sha1
  server/licenses/lucene-core-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-core-9.1.0.jar.sha1
  server/licenses/lucene-grouping-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-grouping-9.1.0.jar.sha1
  server/licenses/lucene-highlighter-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-highlighter-9.1.0.jar.sha1
  server/licenses/lucene-join-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-join-9.1.0.jar.sha1
  server/licenses/lucene-memory-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-memory-9.1.0.jar.sha1
  server/licenses/lucene-misc-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-misc-9.1.0.jar.sha1
  server/licenses/lucene-queries-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-queries-9.1.0.jar.sha1
  server/licenses/lucene-queryparser-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-queryparser-9.1.0.jar.sha1
  server/licenses/lucene-sandbox-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-sandbox-9.1.0.jar.sha1
  server/licenses/lucene-spatial-extras-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-spatial-extras-9.1.0.jar.sha1
  server/licenses/lucene-spatial3d-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-spatial3d-9.1.0.jar.sha1
  server/licenses/lucene-suggest-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-suggest-9.1.0.jar.sha1
Labels: non-issue, >upgrade, v3.0.0

#2564 [Type removal] Remove deprecation warning on use of _type in doc scripts
  server/src/main/java/org/opensearch/search/lookup/LeafDocLookup.java
Labels: Indexing & Search, v3.0.0, backport 2.x, backport 2.0

#2570 [Bug] Fix InboundDecoder version compat check
  server/src/main/java/org/opensearch/transport/InboundDecoder.java
Labels: bug, v2.0.0, pending backport, backwards-compatibility

#2566 [Backport 2.x] [Upgrade] Lucene 9.1 release
  buildSrc/version.properties
  modules/lang-expression/licenses/lucene-expressions-9.1.0-snapshot-ea989fe8f30.jar.sha1
  modules/lang-expression/licenses/lucene-expressions-9.1.0.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-icu/licenses/lucene-analysis-icu-9.1.0.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-kuromoji/licenses/lucene-analysis-kuromoji-9.1.0.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-nori/licenses/lucene-analysis-nori-9.1.0.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-phonetic/licenses/lucene-analysis-phonetic-9.1.0.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-smartcn/licenses/lucene-analysis-smartcn-9.1.0.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-stempel/licenses/lucene-analysis-stempel-9.1.0.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.1.0-snapshot-ea989fe8f30.jar.sha1
  plugins/analysis-ukrainian/licenses/lucene-analysis-morfologik-9.1.0.jar.sha1
  server/licenses/lucene-analysis-common-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-analysis-common-9.1.0.jar.sha1
  server/licenses/lucene-backward-codecs-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-backward-codecs-9.1.0.jar.sha1
  server/licenses/lucene-core-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-core-9.1.0.jar.sha1
  server/licenses/lucene-grouping-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-grouping-9.1.0.jar.sha1
  server/licenses/lucene-highlighter-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-highlighter-9.1.0.jar.sha1
  server/licenses/lucene-join-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-join-9.1.0.jar.sha1
  server/licenses/lucene-memory-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-memory-9.1.0.jar.sha1
  server/licenses/lucene-misc-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-misc-9.1.0.jar.sha1
  server/licenses/lucene-queries-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-queries-9.1.0.jar.sha1
  server/licenses/lucene-queryparser-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-queryparser-9.1.0.jar.sha1
  server/licenses/lucene-sandbox-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-sandbox-9.1.0.jar.sha1
  server/licenses/lucene-spatial-extras-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-spatial-extras-9.1.0.jar.sha1
  server/licenses/lucene-spatial3d-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-spatial3d-9.1.0.jar.sha1
  server/licenses/lucene-suggest-9.1.0-snapshot-ea989fe8f30.jar.sha1
  server/licenses/lucene-suggest-9.1.0.jar.sha1
Labels: non-issue, backport, >upgrade, v2.1.0

#2535 Enable merge on refresh and merge on commit on Opensearch
  server/src/main/java/org/opensearch/common/settings/IndexScopedSettings.java
  server/src/main/java/org/opensearch/index/IndexSettings.java
  server/src/main/java/org/opensearch/index/engine/InternalEngine.java
  server/src/test/java/org/opensearch/index/engine/InternalEngineTests.java
Labels: enhancement, Indexing & Search, v3.0.0

#2604 Removing SLM check in tests for OpenSearch versions
  test/framework/src/main/java/org/opensearch/test/rest/OpenSearchRestTestCase.java
Labels: bug, :test, v3.0.0

#2089 Add resource stats to task framework
  client/rest-high-level/src/main/java/org/opensearch/client/tasks/TaskInfo.java
  client/rest-high-level/src/test/java/org/opensearch/client/core/tasks/GetTaskResponseTests.java
  client/rest-high-level/src/test/java/org/opensearch/client/tasks/CancelTasksResponseTests.java
  modules/reindex/src/test/java/org/opensearch/index/reindex/TransportRethrottleActionTests.java
  server/src/internalClusterTest/java/org/opensearch/action/admin/cluster/node/tasks/TasksIT.java
  server/src/main/java/org/opensearch/rest/action/cat/RestTasksAction.java
  server/src/main/java/org/opensearch/tasks/ResourceStats.java
  server/src/main/java/org/opensearch/tasks/ResourceStatsType.java
  server/src/main/java/org/opensearch/tasks/ResourceUsageInfo.java
  server/src/main/java/org/opensearch/tasks/ResourceUsageMetric.java
  server/src/main/java/org/opensearch/tasks/Task.java
  server/src/main/java/org/opensearch/tasks/TaskInfo.java
  server/src/main/java/org/opensearch/tasks/TaskResourceStats.java
  server/src/main/java/org/opensearch/tasks/TaskResourceUsage.java
  server/src/main/java/org/opensearch/tasks/ThreadResourceInfo.java
  server/src/test/java/org/opensearch/action/admin/cluster/node/tasks/TaskTests.java
  server/src/test/java/org/opensearch/tasks/CancelTasksResponseTests.java
  server/src/test/java/org/opensearch/tasks/ListTasksResponseTests.java
  server/src/test/java/org/opensearch/tasks/TaskInfoTests.java
Labels: v2.0.0, feature

#2636 [Type Removal] Add mapping method referenced in other repos
  server/src/main/java/org/opensearch/action/admin/indices/create/CreateIndexRequest.java
Labels: enhancement, Indexing & Search, v3.0.0

#2688 Update to Gradle 7.4.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: enhancement, Build Libraries & Interfaces, v2.1.0, backport 2.x
